<div class="media leftpanel-profile">
	<div class="media-left">
		<a href="#">
			<img src="{{NeuralRutaWebPublico}}/images/photos/loggeduser.png" alt="" class="media-object img-circle">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
				{{ Usuario != '' and Usuario != ' ' > 0 ? Usuario : 'Usuario' }}
			<a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
		<span>{{ TipoUsuario != '' and TipoUsuario != ' ' > 0 ? TipoUsuario: 'Software Engineer' }} </span>
	</div>
</div><!-- leftpanel-profile -->

<div class="leftpanel-userinfo collapse" id="loguserinfo">
	<h5 class="sidebar-title">Address</h5>
	<address>
		4975 Cambridge Road
		Miami Gardens, FL 33056
	</address>
	<h5 class="sidebar-title">Contact</h5>
	<ul class="list-group">
		<li class="list-group-item">
			<label class="pull-left">Email</label>
			<span class="pull-right">me@themepixels.com</span>
		</li>
		<li class="list-group-item">
			<label class="pull-left">Home</label>
			<span class="pull-right">(032) 1234 567</span>
		</li>
		<li class="list-group-item">
			<label class="pull-left">Mobile</label>
			<span class="pull-right">+63012 3456 789</span>
		</li>
		<li class="list-group-item">
			<label class="pull-left">Social</label>
			<div class="social-icons pull-right">
				<a href="#"><i class="fa fa-facebook-official"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
			</div>
		</li>
	</ul>
</div><!-- leftpanel-userinfo -->