<div class="modal-header">
    <h4 class="modal-title">Horario Por Definir</h4>
</div>
<div class="modal-body text-center" id="TablaHorario">
    <img src="{{NeuralRutaWebPublico}}/img/clock.jpg" style="width: 30%">
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>