<div class="modal-header" align="center">
    <h4>Temas</h4>
</div>
<div class="modal-body" id="TablaHorario" align="center">
    <h4>Aun no existen temas para esta Unidad</h4>
        <div class="icon to-animate">
            <span><i class="icon-question-circle fa-5x" ></i></span>
        </div>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>