<div class="modal-header text-center">
    <h4>Horario</h4>
</div>
<div class="modal-body" id="TablaHorario">
    <div class="table-responsive">
        <table id="TablaHorari" class="table table-bordered table-primary nomargin">
            <thead>
            <tr>
                <th>#</th>
                <th>Dia</th>
                <th>Horario</th>
            </tr>
            </thead>
            <tbody>
            {% for Dato in HorarioTaller %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{Dato.NombreDia}}</td>
                <td>{{Dato.HoraInicio}} a {{Dato.HoraFin}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>