<div class="modal-header" align="center">
    <h4>Temas</h4>
</div>
<div class="modal-body" id="TablaHorario">
    <div class="table-responsive">
        <table class="table table-bordered table-primary nomargin">
            <thead>
            <tr>
                <th>#</th>
                <th>Tema</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for Dato in Temas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{Dato.NombreTema}}</td>
                <td>{{Dato.Status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>