<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Información</h4>
        </div>
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#menu1" >Información</a></li> 
        </ul>
        <div class="panel-body">
            {% for Dato in Consulta %}
            <form id="frmEditarInstructor" name="frmEditarInstructor">
                <div class="tab-content">
                    <!--inicia-->
                    <div id="menu1" class="tab-pane in active fade col-md-12 row" >
                        <div class="form-group">
                            <input type="hidden" id="IdInformacion" name="IdInformacion" value="{{Dato.IdInformacion|Cifrado}}"/>
                            <input type="hidden" id="IdUsuario" name="IdUsuario" value="{{Dato.IdUsuario|Cifrado}}"/>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" autocomplete="off" value="{{Dato.Nombres}}">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                        <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" autocomplete="off" value="{{Dato.ApellidoPaterno}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-link"></i></span>
                                        <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" autocomplete="off" value="{{Dato.ApellidoMaterno}}">
                                    </div>
                                </div>
                            </div>
                            <small>Dirección</small>
                            <textarea rows="2" cols="50" type="text" id="Direccion" name="Direccion" class="form-control" placeholder="Direccion"  autocomplete="off" >{{Dato.Direccion}}</textarea><br>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                <input type="text" id="Cargo" name="Cargo" class="form-control" placeholder="Cargo" autocomplete="off" value="{{Dato.Cargo}}">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-phone"></i></span>
                                        <input type="text" id="TelefonoFijo1" name="TelefonoFijo1" class="form-control" placeholder="Telefono Fijo" autocomplete="off" value="{{Dato.TelefonoFijo1}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-mobile"></i></span>
                                        <input type="text" id="TelefonoMovil1" name="TelefonoMovil1" class="form-control" placeholder="Telefono Movil" autocomplete="off" value="{{Dato.TelefonoMovil1}}">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa  fa-envelope-o"></i></span>
                                <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail" autocomplete="off" value="{{Dato.Correo}}">
                            </div>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa  fa-facebook"></i></span>
                                <input type="text" id="UrlFacebook" name="UrlFacebook" class="form-control" placeholder="UrlFacebook" autocomplete="off" value="{{Dato.UrlFacebook}}">
                            </div>
                            <small>Descripción</small>
                            <textarea rows="2" cols="50" type="text" id="Descripcion" name="Descripcion" class="form-control" placeholder="Descriipción" autocomplete="off">{{Dato.Descripcion}}</textarea><br>
                        </div>
                        <!--fin-->
                    </div>
                    <input type="hidden" id="Keys" name="Key" value="{{Key}}">
                    <input type="hidden" id="AuxiliarEstado" name="AuxiliarEstado" value="{{Dato.Status}}"/>
                    <hr class="short alt" />
                    <div class="section row col-md-12">
                        <div class="col-md-6">
                            <label class="ckbox ckbox-info" id="auxiliar">
                                <input type="checkbox" id="Status" name="Status" ><span>USUARIO ACTIVO</span>
                            </label>
                        </div>
                    </div>
                    <p class="text-right">
                        <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                        &nbsp;
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                    </p>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>




{{Scripts|raw}}
<script>
    $(document).ready(function(){
        var checador=document.getElementById('AuxiliarEstado').value;
        if(checador=="ACTIVO"){
            document.getElementById('Status').checked=true;
        }else{
            document.getElementById('Status').checked=false;
        }
            $("#TelefonoFijo1").mask("(999)9-99-99-99");
            $("#TelefonoMovil1").mask("(999)9-99-99-99");
    }); 
	jQuery('#frmEditarInstructor').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarInstructor').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos de usuario e información.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Instructor/Actualizar',
			data: jQuery('#frmEditarInstructor').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
        if(jQuery("#Nombres").val() == '' || jQuery("#Nombres").val() ==null){
			error = false;
		}
        if(jQuery("#ApellidoPaterno").val() == '' || jQuery("#ApellidoPaterno").val() ==null){
			error = false;
		}
        if(jQuery("#ApellidoMaterno").val() == '' || jQuery("#ApellidoMaterno").val() ==null){
			error = false;
		}
        if(jQuery("#Correo").val() == '' || jQuery("#Correo").val() ==null){
			error = false;
		}
		return error;
	}
</script>