<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Unidades del taller "{{Taller.Nombre}}"</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmEditarUnidad" name="frmEditarUnidad">
                <!-- Tab panes -->

                <div class="tab-content">
                    <div class="tab-pane active" id="PanelInformacion">
                        {% for  Dato in Consulta %}
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-code"></i></span>
                            <input type="text" id="NombreUnidad{{loop.index}}" name="NombreUnidad[]" class="form-control" value="{{Dato.NombreUnidad}}" placeholder="Nombre" autocomplete="off">
                        </div>
                        <input type="hidden" id="IdUnidad" name="IdUnidad[]" value="{{Dato.IdUnidad|Cifrado}}">
                        {% endfor %}
                    </div>
                    <!--   Menu para horario-->
                </div>
                <input type="hidden" id="Key" name="Key" value="{{Key}}">
                <input type="hidden" id="IdTaller" name="IdTaller" value="{{Taller.IdTaller|Cifrado}}">
                <!--fin-->
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick='javascript: ListadoManipularContenido("{{Taller.IdTaller|Cifrado}}");'><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
            </form>
            <input type="hidden" id="NCampo" value="{{NCampo}}">
        </div>
    </div>
</div>
{{Scripts|raw}}

<script>
    jQuery('#frmEditarUnidad').on('submit', function(e){
        var isvalidate = jQuery('#frmEditarUnidad').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/Editar',
            data: jQuery('#frmEditarUnidad').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;

        if(jQuery("#NombreUnidad").val() == ''){
            error = false;
        }
        var tamaño=document.getElementById("NCampo").value;
        for (var i=0;i<tamaño;i++){
            var valor = document.getElementById("NombreUnidad"+(i+1)+"").value;
            if( valor == null || valor.length == 0) {
                return false;
            }

        }
        return error;
    }

</script>