<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>
<script>
    ActivarLink('MenuLinkMisTalleres');

    /* Listado */
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function ConsultaHorario(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/ConsultaDiasHorario',
            dataType: 'html',
            type: 'post',
            data: {IdTaller: IdTaller},
            beforeSend: function () {
                jQuery("#HorarioConsultado").html('<div class="spinner-xs"></div>');
            },
            success: function (data) {
                jQuery("#HorarioConsultado").html(data);
                $('#ModalHorario').modal('show');
            }
        });
    }

    function ListadoUnidades(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/frmListadoUnidades',
            dataType: 'html',
            type: 'post',
            data: {IdTaller: IdTaller},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function ListadoManipularContenido(IdTaller) {
           jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/ListadoManipularContenido',
            data: {IdTaller : IdTaller},
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function fnListadoAsistentes(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/ListadoAsistentesTaller',
            data: {IdTaller : IdTaller},
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmAgregarUnidad(IdTaller){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/frmAgregarUnidad',
            data: {IdTaller : IdTaller},
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmEditarUnidad(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/frmEditar',
            dataType: 'html',
            type: 'post',
            data: {IdTaller: IdTaller},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmEditarTema(IdTaller, IdUnidad){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/frmEditarTema',
            data: {IdTaller : IdTaller, IdUnidad : IdUnidad},
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    function Eliminar(IdUnidad, IdTaller) {
        swal({
            title: "Eliminar Unidad.",
            text: "¿Se eliminará definitivamente la Unidad!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Instructor/MisTalleres/EliminaUnidad',
                datatype: "html",
                type: "post",
                data: {IdUnidad: IdUnidad},
                beforeSend: function () {
                    $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    ListadoManipularContenido(IdTaller);
                }
            });
        });
    }

    fnListado();

</script>
