{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-home mr5"></i> {{Menu}}</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Horario/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}