<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Academia de Programación - La Academia del dominio tecnológico </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sitio oficial de la academia de programación en el estado de Guerrero, aquí podrás consultar los talleres que ofertamos cada periodo de manera presencial - !Aprende a programar Ya!" />
    <meta name="keywords" content="Aprende a programar, Programación desde cero, Programación Básica, progrmacion en java, progrmacion en php, programacion en android, talleres de programacion" />
    <meta name="author" content="academiaprogramacion.com.mx" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Academia de Programación - La Academia del dominio tecnológico"/>
    <meta property="og:image" content="{{NeuralRutaWebPublico}}/img/LogoAcademia.png"/>
    <meta property="og:url" content="academiaprogramacion.com.mx"/>
    <meta property="og:site_name" content="Academia de Programación"/>

    <!--<link rel="shortcut icon" href="{{NeuralRutaWebPublico}}/images/favicon.png" type="image/png">-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/Login.min.css">

    <script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
    <script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{NeuralRutaWebPublico}}/lib/html5shiv/html5shiv.js"></script>
    <script src="{{NeuralRutaWebPublico}}/lib/respond/respond.src.js"></script>
    <![endif]-->
</head>

<body class="signwrapper">

<div class="sign-overlay"></div>
<div class="signpanel"></div>
<div id="Contenido" class="panel signin">
    <div class="panel-heading">
        <h4 class="panel-title">Bienvenido.</h4>
    </div>
    <div  class="panel-body">
        <a class="btn btn-primary btn-quirk btn-fb btn-block" href="{{UrlFacebook}}">Registrate con Facebook</a>

        <div class="or">o</div>
        <form id="frmRegistro" name="frmRegistro" class="form-signin">
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" required autofocus autocomplete="off">
                </div>
            </div>
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail"  autocomplete="off">
                </div>
            </div>
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" id="ConfirmaCorreo" name="ConfirmaCorreo" class="form-control" placeholder="Confirma tu E-mail"  autocomplete="off">
                </div>
            </div>
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required autocomplete="off">
                </div>
            </div>
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="RepitePassword" name="RepitePassword" class="form-control" placeholder="Repite Password" required autocomplete="off">
                </div>
            </div>
            <input type="hidden" value="{{Key}}" name="Key" id="Key">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-quirk btn-block">Registrar</button>
                <a href="{{NeuralRutaApp}}/Index" class="btn btn-danger btn-quirk btn-block">Cancelar</a>
            </div>
        </form>
        <hr class="invisible">
        <div class="form-group">
            <a href="{{NeuralRutaApp}}/Index/Login" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">¿Tienes una cuenta? Ingresa</a>
        </div>
    </div>
</div><!-- panel -->
</body>
{{Scripts|raw}}
<!-- Invalida Enter -->
<script>
    jQuery(document).ready(function() {
        jQuery("Form").keypress(function(e) {
            if (e.which == 13) {
                return false;
            }
        });
        jQuery('#username').focus();
    });
</script>
<script>

    $("#frmRegistro").on("submit",function(e){
       var isValidate = $("#frmRegistro").valid();
        if(isValidate){
            e.preventDefault();
            registrarAsistente();
        }
    });
    function registrarAsistente(){
        $.ajax({
            url: "{{NeuralRutaApp}}/Index/Registro",
            data: $("#frmRegistro").serialize(),
            type: "POST",
            beforeSend: function(){
                jQuery("#Contenido").html('<div class="spinner">Espere un momento por favor...</div>');
            },
            success:function(data){
                if(data=='error'){
                    jQuery("#Contenido").html(' <div class="alert alert-danger">'+
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
                            '<br><strong>Usuario Existente!</strong> <br><br>La dirección de correo eletrónico ya ha sido registrada.<a href="#" class="alert-link">  </a>' +
                            '<p><br>' +
                            '<a class="btn btn-danger" type="button" href="{{NeuralRutaApp}}/Index/frmRegistro">Intentar de nuevo</a> ' +
                            '</p>' +
                            '</div>');
                }else{
                    jQuery("#Contenido").html(data);
                }
            }
        });
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84799138-1', 'auto');
    ga('send', 'pageview');
</script>
</html>

