<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Asistentes al Taller</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable1" class="table table-bordered table-striped-col">
                    <thead>
                    <tr><center>
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Telefono Movil</th>
                        <th>Correo</th>
                        <th>Califiacion</th>
                        <th>Status</th>
                    </center>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr><center>
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Telefono Movil</th>
                        <th>Correo</th>
                        <th>Calificacion</th>
                        <th>Status</th>
                    </center>
                    </tr>
                    </tfoot>

                    <tbody>
                    {%for Dato in ListaAsistentes%}
                    <tr>
                        <center>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{Dato.Nombres}} {{Dato.ApellidoPaterno}} {{Dato.ApellidoMaterno}}</td>
                            <td>{{Dato.TelefonoMovil1}}</td>
                            <td>{{Dato.Correo}}</td>
                            <td>{{Dato.CalificacionAsistente}}</td>
                            <td>{{Dato.Status}}</td>
                        </center>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#dataTable1').DataTable({
        "columnDefs": [{
            "orderable": false,
            "targets": '_all'}],
        language: 	{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 5,
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "Todos"]
        ]
    });
</script>