<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-cog"></span> &nbsp; Acciones</h4>
        </div>
        <div class="panel-body">
            <center>
            <button class="btn btn-primary btn-quirk" onclick="javascript: fnListado();">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Regresar
            </button>
            </center>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Talleres</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable1" class="table table-bordered table-striped-col">
                    <thead>
                    <tr><center>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Lugar</th>
                        <th>Estado</th>
                    </center>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <center>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Lugar</th>>
                        <th>Estado</th>
                    </center>
                    </tr>
                    </tfoot>

                    <tbody>
                    {%for Dato in TalleresAsociados%}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{Dato.Nombre}}</td>
                        <td>{{Dato.Descripcion}}</td>
                        <td>{{Dato.Lugar}}</td>
                        <td>{{Dato.Status}}</td>

                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#dataTable1').DataTable({
        "columnDefs": [{
            "orderable": false,
            "targets": '_all'}],
        language: 	{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 5,
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "Todos"]
        ]
    });
</script>