<style>
    .animate-2, .js .to-animate-3, .js .single-animate {
        opacity: 1;
    }
    .js .to-animate, .js .to-animate-2, .js .to-animate-3, .js .single-animate {
        opacity: 1;
    }
    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2><span>Nosotros te ofrecemos los siguientes talleres</span></h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 subtext">
                    <h3>Si te llama la atención aprender a programar juegos, crear sitios web, aplicaciones móviles, diseñar Bases de Datos, saber más sobre matemáticas y mucho más. Da un vistazo a nuestra lista de talleres disponibles.</h3>
                </div>
            </div>
        </div>
    </div>

    {% for Row in Talleres|batch(4) %}
    <div class="row">
        {% for Taller in Row %}
        <div class="col-md-3 text-center hvr-fade">
            <div class="box-services ContenedorCurso" onclick="fnVerDetalleTaller('{{Taller.IdTaller|Cifrado}}');">
                <div class="icon to-animate">
                    <span><i class="{{Taller.NombreIcono}}"></i></span>
                </div>
                <div class="fh5co-post to-animate">
                    <h3>{{Taller.Nombre}}</h3>
                    <p align="justify">{{Taller.Descripcion|slice(0, 150)}}...</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>