<style>
    .animate-2, .js .to-animate-3, .js .single-animate {
        opacity: 1!important;
    }
    .js .to-animate, .js .to-animate-2, .js .to-animate-3, .js .single-animate {
        opacity: 1!important;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
    .section-heading{
        padding-bottom: 0px;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="row">
        <div class="col-md-3 text-center">
            <br>
            <div class="box-services">
                <div class="icon to-animate">
                    <span><i class="{{Taller.NombreIcono}}"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 section-heading text-center">
                <br>
                <h2 class="to-animate"><span>{{Taller.Nombre}}</span></h2>
            </div>
            <div class="box-services">
                <div class="fh5co-post to-animate">
                    <p class="text-justify" style="white-space: pre-wrap;">{{Taller.Descripcion}}</p>
                </div>
                {% include 'Talleres/Partes/BotonCurso.html' %}
            </div>
        </div>
    </div>
    <hr style="padding: 0 0 0 10px">
    <div class="row">
        <div class="col-md-4">
            <div id="fh5co-team" class="fh5co-bg-color" data-section="team">
                <div class="fh5co-team">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="team-box text-center to-animate">
                                {% for Valor in Instructores %}
                                {% if Valor.InstructorPrincipal == "ACTIVO" %}
                                <div class="user"><img class="img-reponsive" src="{{NeuralRutaWebPublico}}/images/photos/{{Valor.NombreImagen}}" alt="Roger Garfield"></div>
                                <h3>{{Valor.Instructor}}</h3>
                                <span class="position">{{Valor.Cargo}}</span>
                                <p class="text-justify" style="padding-bottom: 3px">{{Valor.DescripcionInstructor}}</p>
                                <ul class="social-media">
                                    <li><a target="_blank" href="{{(Valor.UrlFacebook|length > 0) ? Valor.UrlFacebook : '#'}}" class="facebook"><i class="icon-facebook"></i></a></li>
                                    <li><a class="twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a class="dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a class="codepen"><i class="icon-codepen"></i></a></li>
                                    <li><a class="github"><i class="icon-github-alt"></i></a></li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                                {% if Instructores|length > 1%}
                                <h3 class="text-center" style="margin-top: 5px">Auxiliares</h3>
                                <hr>
                                {% for Valor in Instructores %}
                                {% if Valor.InstructorPrincipal != "ACTIVO" %}
                                <div class="user"></div>
                                <h4 style="margin: 2px;">{{Valor.Instructor}}</h4>
                                <span style="margin: 2px;" class="position">{{Valor.Cargo}}</span>
                                <ul class="social-media">
                                    <li><a target="_blank" href="{{(Valor.UrlFacebook|length > 0) ? Valor.UrlFacebook : '#'}}" class="facebook"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                    <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
                                </ul>
                                <hr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <div class="row">
                                    <a class="btn btn-primary" type="button" onclick="fnListarTalleres()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-left">
            {% include 'Talleres/Partes/HorarioTaller.html' %}
            {% include 'Talleres/Partes/TemarioTaller.html' %}
        </div>
    </div>
</div>

