<section id="fh5co-services" data-section="cursos">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal" id="DetalleTaller">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>La Academia de Programaci&oacute;n te ofrece los siguientes talleres</span></h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Si te llama la atenci&oacute;n la programaci&oacute;n, crear sitios web, aplicaciones m&oacute;viles, diseño de bases de datos, matem&aacute;ticas y mucho m&aacute;s. Da un vistazo a nuestra lista de talleres disponibles en la Academia de programaci&oacute;n.</h3>
                        </div>
                    </div>
                </div>
            </div>

            {% for Row in Talleres|batch(4) %}
            <div class="row to-animate">
                {% for Taller in Row %}
                <div class="col-md-3 text-center hvr-fade">
                    <div class="box-services ContenedorCurso" onclick="fnVerDetalleTaller('{{Taller.IdTaller|Cifrado}}');">
                        <div class="icon">
                            <span><i class="{{Taller.NombreIcono}}"></i></span>
                        </div>
                        <div class="fh5co-post">
                            <h3>{{Taller.Nombre}}</h3>
                            <p align="justify">{{Taller.Descripcion|slice(0, 150)}}...</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>