<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- favicon-->
	<link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
	<title>{ App ADP }</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="http://academiaprogramacion.com.mx/" />
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- font-awesome-icons -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/owl.carousel.min.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/owl.theme.default.min.css">
	<!-- Style -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/style.css">
	<!--jquery.gritter CSS-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.css">
	<!--Estilos Asistente-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/EstilosAsistente.min.css">
	<!-- Modernizr JS -->
	<script src="{{NeuralRutaWebPublico}}/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- jQuery -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.min.js"></script>


</head>
<body>
<header role="banner" id="fh5co-header">
	<div class="fluid-container">
		{% include 'General/Partes/BarraSuperior.html' %}
	</div>
</header>
<div class="row">
	<div id="AreaContenido">
		{% block Contenido %}
		<p>Contenido Vacio</p>
		{% endblock Contenido %}
	</div>
</div>
{% include 'General/Partes/Pie.html' %}
<!--<div id="map" class="fh5co-map"></div>-->

<!-- jQuery Easing -->
<script src="{{NeuralRutaWebPublico}}/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="{{NeuralRutaWebPublico}}/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="{{NeuralRutaWebPublico}}/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="{{NeuralRutaWebPublico}}/js/jquery.stellar.min.js"></script>
<!-- Owl Carousel -->
<script src="{{NeuralRutaWebPublico}}/js/owl.carousel.min.js"></script>
<!-- Counters -->
<script src="{{NeuralRutaWebPublico}}/js/jquery.countTo.js"></script>
<!-- gritter -->
<script src="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.js"></script>
<!-- Main JS (Do not remove) -->
<script src="{{NeuralRutaWebPublico}}/js/main.js"></script>
<!--Scripts de la aplicacion-->
{% block ScriptsAplicacion %}
{% endblock ScriptsAplicacion %}
</body>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-84799138-1', 'auto');
	ga('send', 'pageview');

</script>
</html>
