<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- favicon-->
		<link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Academia de Programaci&oacute;n</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Academia De Programaci&oacute;n, en el Estado de Guerrero, podr &aacute;s consultar taller o talleres que ofertamos de manera gratuita. Aprende Programaci&oacute;n !Ya!" />
		<meta name="keywords" content="Aprende a Programaci&oacute;n, Programaci&oacute;n desde cero, Programaci&oacute;n B&aacute;sica, progrmaci&oacute;n en java, progrmaci&oacute;n en php, programaci&oacute;n en android" />
		<meta name="author" content="academiaprogramacion.com.mx" />
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="Academia de Programaci&oacute;n"/>
		<meta property="og:image" content="{{NeuralRutaWebPublico}}/img/LogoAcademia.png"/>
		<meta property="og:url" content="academiaprogramacion.com.mx"/>
		<meta property="og:site_name" content="Academia de Programaci&oacute;n"/>
		<meta property="og:description" content="Academia De Programaci&oacute;n, en el Estado de Guerrero, podr &aacute;s consultar taller o talleres que ofertamos de manera gratuita. Aprende Programaci&oacute;n !Ya!"/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		{#<!-- Bootstrap  -->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap.min.css">#}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Styles -->
		{#
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/styles.css">
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/particles/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/css/particles/css/colors/seagul.css" title="seagul">
		#}

		<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/style.css">
		<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/particles/css/style.css">
		<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/particles/css/colors/seagul.css" title="seagul">


		<!-- Animate.css -->
		<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/icomoon.css">
		<!-- Simple Line Icons -->
		<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/adpguerrero/css/simple-line-icons.css">
		{#
		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/owl.carousel.css">
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/owl.theme.css">
		<!-- Style -->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/style.css">
		<!--Tables-->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/styleTables.css">
		#}

		{#
		<!-- Modernizr JS -->
		<script src="{{NeuralRutaWebPublico}}/js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="{{NeuralRutaWebPublico}}/js/respond.min.js"></script>
		<![endif]-->
		#}
		<style>
			.TextoJustificado{
				text-align : justify;
			}
		</style>
	</head>
	<body>
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "name" : "Academia de Programaci&oacute;n",
	  "url": "http://academiaprogramacion.com.mx",
	  "description": "Academia De Programaci&oacute;n, en el Estado de Guerrero, podr&aacute;s consultar taller o talleres que ofertamos de manera gratuita. Aprende Programaci&oacute;n ¡Ya!",
	  "contactPoint": [{
		"@type": "ContactPoint",
		"url": "http://academiaprogramacion.com.mx",
		"email": "webmaster@academiaprogramacion.com.mx",
		"contactType": "technical service"
	  }],
	  "sponsor": "VoIP Technology",
	   "sameAs" : [
		"https://twitter.com/acaddprog",
		"https://plus.google.com/+acaddprog",
		"https://www.facebook.com/acaddprog"
	 ]
	}
	</script>
	<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="{{NeuralRutaApp}}/Index/">Academia de Programaci&oacute;n</a><br>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" data-nav-section="inicio"><span>Inicio</span></a></li>
						<li><a href="#" data-nav-section="cursos" id="Talleres"><span>Talleres</span></a></li>
						<li><a href="#" data-nav-section="Convenios"><span>Convenios</span></a></li>
						<li><a href="#" data-nav-section="Contacto"><span>Contacto</span></a></li>
						<li class="call-to-action"><a class="sign-up" href="{{NeuralRutaApp}}/Index/frmRegistro"><span>Registrate</span></a></li>
						<li class="call-to-action"><a class="log-in" href="{{NeuralRutaApp}}/Index/Login"><span>Iniciar</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>
	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.7&appId=1251330271558202";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<section id="fh5co-home" data-section="inicio" data-stellar-background-ratio="0.5">
		<div class="jumbotron jumbotron-main" id="home">
			<div id="particles-js"></div><!-- /.particles div -->
			<div class="container center-vertically-holder">
				<div class="center-vertically">
					<div id="scaleReveal" class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2 text-center" style="padding: 0">
						<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
						<h1>Aprende Programaci&oacute;n, ¡Ya!</h1>
						<div class="ticker">
							{% for Taller in Talleres %}
							<div class="ticker-curso">
								<span><i class="{{Taller.NombreIcono}}"></i></span>
								&nbsp;<span onclick="fnVerDetalleTaller('{{Taller.IdTaller|Cifrado}}');">{{Taller.Nombre}}</span>
							</div>
							{% endfor %}
						</div>
						<p>
							Sabemos que eres una persona curiosa y te gusta la programaci&oacute;n. &eacute;ste es el motivo por el que todos los talleres de la Academia de Programaci&oacute;n est&aacute;n disponibles en este sitio web. Podr&aacute;s consultar talleres, temas, horarios e instructores que los imparten. Y t&uacute; qu&eacute; esperas para Aprender Programaci&oacute;n, ¡Ya!. Te Espera en la Academia de Programaci&oacute;n.
						</p>
						<div class="text-center fb-like" data-width="100px" data-href="http://academiaprogramacion.com.mx/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{#
	<section id="fh5co-home" data-section="inicio" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<ul class="bullets"></ul>
						<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="to-animate">Aprende Programaci&oacute;n, <span>¡Ya!</span></h1>
							<h2 class="to-animate">
								Sabemos que eres una persona curiosa y te gusta la programaci&oacute;n. &eacute;ste es el motivo por el que todos los talleres de la Academia de Programaci&oacute;n est&aacute;n disponibles en este sitio web. Podr&aacute;s consultar talleres, temas, horarios e instructores que los imparten. Y t&uacute; qu&eacute; esperas para Aprender Programaci&oacute;n, ¡Ya!. Te Espera en la Academia de Programaci&oacute;n.
							</h2>
							<h4 class="to-animate text-center">
								<div class="fb-like" data-href="http://academiaprogramacion.com.mx/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false">
								</div>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	#}

	{% include 'Talleres/Listado.html' %}

	<section id="fh5co-trusted" data-section="Convenios">
			<div class="container">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Convenios</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Instituciones y Empresas</h3>
							</div>
						</div>
					</div>
				<div class="row text-center">
					 <div class="col-md-1 col-sm-3 col-xs-12 col-sm-offset-0 col-md-offset-1">
					 </div>
					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="partner-logo to-animate-2"><br><br>
							<a href="https://www.facebook.com/tecapacitate/"><img src="{{NeuralRutaWebPublico}}/images/logo-tec.jpg" alt="Logo Tec Capacitate" class="img-responsive"></a>
						</div>
					</div>
				    <div class="col-md-2 col-sm-3 col-xs-12">
				    	<div class="partner-logo to-animate-2"><br><br>
							<a href="http://voiptech.com.mx"><img src="{{NeuralRutaWebPublico}}/images/2.jpg" alt="Logo VoIP Technology" class="img-responsive"></a>
						</div>
				    </div>
				    <div class="col-md-2 col-sm-3 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<a href="http://www.neuralframework.com/" target="_blank"><img src="{{NeuralRutaWebPublico}}/images/logo_neural.jpg" alt="Logo Neural Framework" class="img-responsive"></a>
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-3 col-xs-12">
				    	<div class="partner-logo to-animate-2"><br><br>
				    		<a href="http://www.matematicas.uagro.mx/" target="_blank"><img src="{{NeuralRutaWebPublico}}/images/matelogo.jpg" alt="Logo Unidad Academica De Matematicas, UAGro" class="img-responsive"></a>
						</div>
				    </div>
				</div>
			</div>
	</section>

	<section id="fh5co-footer" data-section="Contacto">
		<div class="container">
			<div class="row">
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Acerca de nosotros</h3>
					<p class="TextoJustificado">Somos un grupo de j&oacute;venes entusiastas dispuestos a impulsar la divulgaci&oacute;n del conocimiento tecnol&oacute;gico y de las ciencias con todas las personas que se interesan por conocer y compartir conocimiento.</p>
					<p>¿Dudas o Sugerencias?, escribenos a: <strong>webmaster@academiaprogramacion.com.mx</strong></p>
					<h3 class="section-title">Redes Sociales</h3>
					<ul class="social-media">
						<li><a href="https://www.facebook.com/acaddprog/" class="facebook"><i class="icon-facebook"></i></a> </li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h4 class="section-title">Webmaster</h4>
					<ul class="contact-info">
						<li><i class="icon-user"></i>Gerardo Epitacio</li>
						<li><i class="icon-envelope"></i>ger.epitacio@gmail.com</li>
						<li><a href="https://bitbucket.org/gerardo_epitacio/"><i class="icon-bitbucket"></i>gerardo_epitacio</a></li>
						<li><i class="icon-user"></i>Jes&uacute;s Tepec</li>
						<li><i class="icon-envelope"></i>ttpecjn@gmail.com</li>
						<li><a href="https://bitbucket.org/Jesus_Tepec/"><i class="icon-bitbucket"></i>Jesus_Tepec</a></li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h4 class="section-title">Developers</h4>
					<ul class="contact-info">
						<li><i class="icon-user"></i>Daniel Hern&aacute;ndez</li>
						<li><a href="https://bitbucket.org/Danny_Velez/"><i class="icon-bitbucket"></i>Danny_Velez/</a></li>
						<li><i class="icon-user"></i>Jos&eacute; Maria(Vencar)</li>
						<li><a href="https://bitbucket.org/IcemanIc300"><i class="icon-bitbucket"></i>IcemanIc300</a></li>
						<li><i class="icon-user"></i>Roberto Laureano</li>
						<li><a href="https://bitbucket.org/lau_mat/"><i class="icon-bitbucket"></i>lau_mat/</a></li>
					</ul>
				</div>
				<div class="col-md-12 text-center">
					<p class="copy-right">&copy; 2016 Academia De Programaci&oacute;n. Todos los derechos reservados.</p>
				</div>
			</div>
		</div>
	</section>

	{#<!-- jQuery -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.min.js"></script>#}
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	{#<!-- Bootstrap -->
	<script src="{{NeuralRutaWebPublico}}/js/bootstrap.min.js"></script>#}
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--Scripts principales-->

	{#
	<script src="{{NeuralRutaWebPublico}}/js/principal.min.js"></script>
	<script type="text/javascript" src="{{NeuralRutaWebPublico}}/css/particles/js/particles.min.js"></script>
	<script type="text/javascript" src="{{NeuralRutaWebPublico}}/css/particles/js/particlesRun.js"></script>
	#}

	<script src="https://s3-us-west-2.amazonaws.com/adpguerrero/js/principal.min.js"></script>
	<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/adpguerrero/css/particles/js/particles.min.js"></script>
	<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/adpguerrero/css/particles/js/particlesRun.js"></script>

	<script>
		/* ---- rotater text ---- */
		var current = 1;
		var height = jQuery('.ticker').height();
		var numberDivs = jQuery('.ticker').children().length;
		var first = jQuery('.ticker .ticker-curso:nth-child(1)');
		setInterval(function() {
			var number = current * -height;
			first.css('margin-top', number + 'px');
			if (current === numberDivs) {
				first.css('margin-top', '0px');
				current = 1;
			} else current++;
		}, 2500);
	</script>

	{#
	<!-- jQuery Easing -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.stellar.min.js"></script>
	<!-- Owl Carousel -->
	<script src="{{NeuralRutaWebPublico}}/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="{{NeuralRutaWebPublico}}/js/jquery.countTo.js"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{{NeuralRutaWebPublico}}/js/main.js"></script>
	#}
	<script>
		function fnListarTalleres(){
			$.ajax({
				url: "{{NeuralRutaApp}}/Index/VerTalleres",
				type: "POST",
				datatype: "html",
				beforeSend: function(){
					jQuery("#DetalleTaller").html('<div class="spinner"></div>');
				},
				success:function(data){
					jQuery("#DetalleTaller").html(data);
					$('html, body').animate({
						scrollTop: $('[data-section="cursos"]').offset().top - 55
					}, 500);
				}
			});
		}

		function fnVerDetalleTaller(IdTaller){
			$.ajax({
				url: "{{NeuralRutaApp}}/Index/VerDetalleTaller",
				type: "POST",
				data: {IdTaller: IdTaller},
				datatype: "html",
				beforeSend: function(){
					jQuery("#DetalleTaller").html('<div class="spinner"></div>');
				},
				success:function(data){
					jQuery("#DetalleTaller").html(data);
					$('html, body').animate({
						scrollTop: $('[data-section="cursos"]').offset().top - 55
					}, 500);
				}
			});
		}
	</script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-84799138-1', 'auto');
		ga('send', 'pageview');
	</script>

	</body>
</html>

