<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Activaciones de cuenta</h4>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="dataTable2" class="table table-bordered table-striped-col">
					<thead>
					<tr>
						<th>#</th>
						<th>Fecha Activación</th>
						<th>Correo</th>
                        <th>Status</th>
                        <th>Acciones</th>
					</tr>
					</thead>

					<tfoot>
					<tr>
						<th>#</th>
						<th>Fecha Activación</th>
						<th>Correo</th>
						<th>Status</th>
						<th>Acciones</th>
					</tr>
					</tfoot>

					<tbody>
					{% for Dato in Consulta %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{Dato.Fecha_Validacion}}</td>
						<td>{{Dato.Correo}}</td>
						<td class="text-center">
							{% if Dato.Status == 'ACTIVO' %}
							<span class="label label-success">ACTIVADA</span>
							{% else%}
							<span class="label label-warning">{{Dato.Status}}</span>
							{% endif %}
						<td class="text-center">
							{% if Dato.Status == "PROCESANDO" %}
							<a data-toggle="tooltip" title="Activar Cuenta" class="btn btn-default btn-xs tooltips" onclick="frmActivarCuenta('{{Dato.IdUsuario|Cifrado}}')">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							{% else %}
							<a data-toggle="tooltip" title="Activar Cuenta" class="btn btn-default btn-xs tooltips" disabled="active">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$('#dataTable2').DataTable({
		"columnDefs": [{
			"orderable": false,
			"targets": '_all'}],
		language: 	{
			"sProcessing":     "Procesando...",
			"sLengthMenu":     "Mostrar _MENU_ registros",
			"sZeroRecords":    "No se encontraron resultados",
			"sEmptyTable":     "Ningún dato disponible en esta tabla",
			"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
			"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
			"sInfoPostFix":    "",
			"sSearch":         "Buscar:",
			"sUrl":            "",
			"sInfoThousands":  ",",
			"sLoadingRecords": "Cargando...",
			"oPaginate": {
				"sFirst":    "Primero",
				"sLast":     "Último",
				"sNext":     "Siguiente",
				"sPrevious": "Anterior"
			},
			"oAria": {
				"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
				"sSortDescending": ": Activar para ordenar la columna de manera descendente"
			}
		},
		"iDisplayLength": 5,
		"aLengthMenu": [
			[5, 10, 25, 50, -1],
			[5, 10, 25, 50, "Todos"]
		]
	});
</script>