<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px 0 0 0;">
	<div class="fh5co-post to-animate text-left">
		<p>
			<a class="btn btn-info ContenidoHorarioTemario" type="button" onclick="MostrarHorario()"><span class="icon-clock-o"></span>&nbsp; Lugar y Horario</a>
			<a class="btn btn-info ContenidoHorarioTemario" type="button" onclick="MostrarHorario()" style="display: none;"><span class="icon-list"></span>&nbsp; Contenido</a>
		</p>
	</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px 0 0 0;">
	<div class="fh5co-post to-animate text-right">
		{% if Taller.IdTallerAsistente != '' %}
		<p>
			<a class="btn btn-info" href="#" type="button"><span class="icon-check-circle-o"></span>&nbsp; Inscrito</a>
		</p>
		{% else %}
		<p>
			<a class="btn btn-info" type="button" onclick="javascript: fnTomarTaller();"><span class="icon-check-circle-o"></span>&nbsp; Tomar Taller</a>
		</p>
		{% endif %}
	</div>
</div>
<script>
	function fnTomarTaller(IdTaller){
		var url = "{{NeuralRutaApp}}/Index/Login";
		window.location = url;
	}

	function MostrarHorario() {
		$('.ContenidoHorarioTemario').toggle();
	}
</script>