<div class="ContenidoHorarioTemario" style="display: none">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3 class="to-animate"><span>HORARIO DEL TALLER</span></h3>
		</div>
	</div>
	{% if HorarioTaller|length > 0%}
	<div class="panel panel-success">
		<div class="panel-body">
			<div class="table-responsive nomargin">
				<table id="TablaHorari" class="table table-hover nomargin">
					<thead>
					<tr>
						<th>#</th>
						<th>Dia</th>
						<th>Horario</th>
					</tr>
					</thead>
					<tbody>
					{% for Dato in HorarioTaller %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{Dato.NombreDia}}</td>
						<td>{{Dato.HoraInicio}} a {{Dato.HoraFin}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td>Lugar</td>
						<td colspan="2"><span class="icon-map-marker"></span> &nbsp; {{Taller.Lugar}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% else %}
	<div class="alert alert-info fade in nomargin">
		<h4>Contenido no disponible!</h4>
		<p>Es posible que los instructores de este taller aún no se han puesto de acuerdo en los horarios de este curso, por favor verifique más tarde.</p>
		<div class="mb15"></div>
	</div>
	{% endif %}
</div>
