<div class="ContenidoHorarioTemario">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3 class="to-animate"><span>CONTENIDO DEL TALLER</span></h3>
		</div>
	</div>
	{% if Temario|length > 0%}
	<div class="panel-group" id="accordion">
		{% for Unidad in Temario %}
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}" style="text-decoration: none;">
						<h4 style="margin: 0 0 0 0;">{{Unidad.Unidad}}</h4>
					</a>
				</div>
			</div>
			<div id="{{loop.index}}" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="table-responsive nomargin">
						<table class="table table-hover nomargin">
							<tbody>
							{% for Tema in Unidad['Temas']%}
							<tr>
								<td><h5 style="margin: 0 0 0 0;">{{Tema}}</h5></td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="alert alert-info fade in nomargin">
		<button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
		<h4>¡Contenido no disponible!</h4>
		<p>Es Posible que aún se este cargando el contenido del taller por los instructores, verifique más tarde.</p>
		<div class="mb15"></div>
	</div>
	{% endif %}
</div>