<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Horario</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmAgregarHorario" name="frmAgregarHorario">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="PanelInformacion">

                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <input id="HoraInicio" name="HoraInicio" type="text" class="form-control" placeholder="00:00:00"/>
                        </div>
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <input id="HoraFin" name="HoraFin" type="text" class="form-control" placeholder="00:00:00"/>
                        </div>
                        <input type="hidden" id="Key" name="Key" value="{{Key}}">
                    </div>
                </div>
                <!--fin-->
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
            </form>
        </div>
    </div>
</div>

{{Scripts|raw}}
<script>
    $(function() {
        $('#HoraInicio').timepicker({'timeFormat': 'H:i:s'});
        $('#HoraFin').timepicker({'timeFormat': 'H:i:s'});
    });

    jQuery('#frmAgregarHorario').on('submit', function(e){
        var isvalidate = jQuery('#frmAgregarHorario').valid();

        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Horario/Agregar',
            data: jQuery('#frmAgregarHorario').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#HoraInicio").val() == ''){
            error = false;
        }
        if(jQuery("#HoraFin").val() == ''){
            error = false;
        }
        return error;
    }

</script>