<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-md-9 col-lg-8 dash-left">
		<div class="panel panel-announcement">
			<ul class="panel-options">
				<li><a><i class="fa fa-refresh"></i></a></li>
				<li><a class="panel-remove"><i class="fa fa-remove"></i></a></li>
			</ul>
			<div class="panel-heading">
				<h4 class="panel-title">Principal</h4>
			</div>
			<div class="panel-body">
				<img class="img-responsive center-block" src="{{NeuralRutaWebPublico}}/img/LogoAcademia.png">
				<h4>Academia de programacion, la academia del desarrollo tecnológico.</h4>
			</div>
		</div><!-- panel -->
	</div><!-- col-md-9 -->
	<div class="col-md-3 col-lg-4 dash-right">
		<div class="row">
			<div class="col-sm-5 col-md-12 col-lg-6">
				<div class="panel panel-danger panel-weather">
					<div class="panel-heading">
						<h4 class="panel-title">Weather Forecast</h4>
					</div>
					<div class="panel-body inverse">
						<div class="row mb10">
							<div class="col-xs-6">
								<h2 class="today-day">Monday</h2>
								<h3 class="today-date">July 13, 2015</h3>
							</div>
							<div class="col-xs-6">
								<i class="wi wi-hail today-cloud"></i>
							</div>
						</div>
						<p class="nomargin">Thunderstorm in the area of responsibility this afternoon through this evening.</p>
						<div class="row mt10">
							<div class="col-xs-7">
								<strong>Temperature:</strong> (Celcius) 19
							</div>
							<div class="col-xs-5">
								<strong>Wind:</strong> 30+ mph
							</div>
						</div>
					</div>
				</div>
			</div><!-- col-md-12 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-5 col-md-12 col-lg-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4 class="panel-title">Recent User Activity</h4>
					</div>
					<div class="panel-body">
						<ul class="media-list user-list">
							<li class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-circle" src="{{NeuralRutaWebPublico}}/images/photos/user2.png" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading nomargin"><a href="#">Floyd M. Romero</a></h4>
									is now following <a href="#">Christina R. Hill</a>
									<small class="date"><i class="glyphicon glyphicon-time"></i> Just now</small>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-circle" src="{{NeuralRutaWebPublico}}/images/photos/user10.png" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading nomargin"><a href="#">Roberta F. Horn</a></h4>
									commented on <a href="#">HTML5 Tutorial</a>
									<small class="date"><i class="glyphicon glyphicon-time"></i> Yesterday</small>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-circle" src="{{NeuralRutaWebPublico}}/images/photos/user3.png" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading nomargin"><a href="#">Jennie S. Gray</a></h4>
									posted a video on <a href="#">The Discovery</a>
									<small class="date"><i class="glyphicon glyphicon-time"></i> June 25, 2015</small>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-circle" src="{{NeuralRutaWebPublico}}/images/photos/user5.png" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading nomargin"><a href="#">Nicholas T. Hinkle</a></h4>
									liked your video on <a href="#">The Discovery</a>
									<small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-circle" src="{{NeuralRutaWebPublico}}/images/photos/user2.png" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading nomargin"><a href="#">Floyd M. Romero</a></h4>
									liked your photo on <a href="#">My Life Adventure</a>
									<small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
								</div>
							</li>
						</ul>
					</div>
				</div><!-- panel -->
			</div>
		</div><!-- row -->
		</div>
</div>