<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-cog"></span> &nbsp; Activación de cuenta</h4>
        </div>
        <div class="panel-body">

            <span> Activar Cuenta</span><br>
            <input type="checkbox" id="toggle-two" >
            <br>
            <hr>
            <p class="text-right">
                <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                &nbsp;
                <button type="button" class="btn btn-primary" onclick="javascript: fnActivar();"><i class="fa fa-save"></i> &nbsp; Guardar</button>
            </p>
            <input type="hidden" id="Key" value="{{Key}}">
            <input type="hidden" id="IdUsuario" value="{{IdUsuario}}">
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#toggle-two').bootstrapToggle({
            on: 'ACTIVADO',
            off: 'PROCESANDO'
        });
    });

    function fnActivar() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/ActivacionCuentas/Activar',
            dataType: 'html',
            type: 'post',
            data: {IdUsuario: $("#IdUsuario").val(), Key : $("#Key").val(), Status:  $('#toggle-two').val()},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
</script>