<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px 0 0 0;">
	<div class="fh5co-post to-animate text-left">
		<p>
			<a class="btn btn-info ContenidoHorarioTemario" type="button" onclick="MostrarHorario()"><i class="fa fa-clock-o"></i> &nbsp; Lugar y Horario</a>
			<a class="btn btn-info ContenidoHorarioTemario" type="button" onclick="MostrarHorario()" style="display: none;"><i class="fa fa-list"></i> &nbsp; Contenido</a>
		</p>
	</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px 0 0 0;">
	<div class="fh5co-post to-animate text-right">
		{% if Taller.IdTallerAsistente != '' %}
		<p>
			<a class="btn btn-info" href="#" type="button"><i class="fa fa-check-square-o"></i> &nbsp; Inscrito</a>
		</p>
		{% else %}
		<p>
			<a class="btn btn-info" type="button" onclick="javascript: fnTomarTaller('{{Taller.IdTaller|Cifrado|Ascii_Hex}}');"><i class="fa fa-check-square-o"></i> &nbsp; Tomar Taller</a>
		</p>
		{% endif %}
	</div>
</div>
<script>
	function fnContinuarTaller(IdTaller){
		var url = "{{NeuralRutaApp}}/Asistente/Talleres/VerTaller/"+IdTaller;
		window.location = url;
	}
	
	function fnTomarTaller(IdTaller) {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Asistente/Talleres/InscribirUsuario',
			data: {IdTaller : IdTaller},
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				fnContinuarTaller(IdTaller);
			}
		});
	}
	function MostrarHorario() {
		$('.ContenidoHorarioTemario').toggle();
	}
</script>