<div class="ContenidoHorarioTemario" style="display: none">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3 class="to-animate"><span>HORARIO DEL TALLER</span></h3>
		</div>
	</div>
	{% if HorarioTaller|length > 0%}
	<div class="table-responsive">
		<table id="TablaHorari" class="table table-bordered table-primary nomargin">
			<thead>
			<tr>
				<th>#</th>
				<th>Dia</th>
				<th>Horario</th>
			</tr>
			</thead>
			<tbody>
			{% for Dato in HorarioTaller %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{Dato.NombreDia}}</td>
				<td>{{Dato.HoraInicio}} a {{Dato.HoraFin}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td>Lugar</td>
				<td colspan="2"><li class="fa fa-map-marker"></li> &nbsp; {{Taller.Lugar}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	{% else %}
	<div class="alert alert-info fade in nomargin">
		<h4>Contenido no disponible!</h4>
		<p>Es posible que los instructores de este taller aún no se han puesto de acuerdo en los horarios de este curso, por favor verifique más tarde.</p>
		<div class="mb15"></div>
	</div>
	{% endif %}
</div>
