<div class="ContenidoHorarioTemario">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3 class="to-animate"><span>Contenido Del Taller</span></h3>
		</div>
	</div>
	{% if Temario|length > 0%}
	<div class="panel-group" id="accordion">
		{% for Unidad in Temario %}
		<div class="panel panel-success">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}" style="text-decoration: none;">
						{{Unidad.Unidad}}
					</a>
				</h4>
			</div>
			<div id="{{loop.index}}" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover nomargin">
							<tbody>
							{% for Tema in Unidad['Temas']%}
							<tr>
								<td class="text-center">
									<label class="ckbox ckbox-primary">
										<input type="checkbox" disabled><span></span>
									</label>
								</td>
								<td>{{Tema}}</td>
								<td>
									<ul class="table-options">
										<li><a href="#"><i class="fa fa-list"></i></a></li>
									</ul>
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="alert alert-info fade in nomargin">
		<h4>Contenido no disponible!</h4>
		<p>Es posible que los instructores de este taller aún no han agregado contenido a este curso, verifique más tarde.</p>
		<div class="mb15"></div>
	</div>
</div>
{% endif %}
