<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Taller</h4>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-line">
			<li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
			<li><a data-toggle="tab" href="#PanelHorario">Horario de Taller</a></li>
		</ul>
		<div class="panel-body">
			<form id="frmAgregarTaller" name="frmAgregarTaller">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="PanelInformacion">
						<div class="form-group">
							<small>Periodo</small>
							<select id="IdPeriodo" name="IdPeriodo" class="form-control" style="width: 100%" data-placeholder="Seleccione Un Periodo">
								<option value="">&nbsp;</option>
								{% for  Dato in Periodos %}
								<option value="{{Dato.IdPeriodo|Cifrado}}">{{Dato.Nombre}}</option>
								{% endfor %}
							</select>
						</div>

						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-code"></i></span>
							<input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre" autocomplete="off">
						</div>

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
							<input type="text" id="NombreIcono" name="NombreIcono" class="form-control" placeholder="icon-nombre" autocomplete="off">
						</div>
						<p class="text-right">
							<a href="https://icomoon.io/#preview-free" target="_blank">Da clic aqui para buscar Iconos</a>
						</p>

						<div class="form-group">
							<small>Descripcion</small>
							<textarea id="Descripcion" name="Descripcion" class="form-control" rows="3" placeholder="Descripción"></textarea>
						</div>

						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-compass"></i></span>
							<input type="text" id="Lugar" name="Lugar" class="form-control" placeholder="Lugar" autocomplete="off">
						</div>

						<div class="form-group">
							<small>Instructor</small>
							<select id="IdInstructor" name="IdInstructor" class="form-control" style="width: 100%" data-placeholder="Seleccione Un Instructor">
								<option value="">&nbsp;</option>
								{% for Dato in Instructores %}
								<option value="{{Dato.IdInformacion|Cifrado}}">{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% endfor %}
							</select>
						</div>

						<div class="form-group" id="SelectAuxiliares">
							<small>Auxiliares</small>
							<select id="IdAuxiliares" name="IdAuxiliares[]" class="form-control" style="width: 100%" data-placeholder="Seleccione Auxiliares del instructor" disabled multiple>
								<option value="">&nbsp;</option>
							</select>
						</div>
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
					</div>
					<!--   Menu para horario-->
					<div id="PanelHorario" class="tab-pane fade col-md-12 row ">
						<p class="text-right">
							<button id="btnNuevaFila" type="button" class="btn btn-success btn-icon tooltips" title="Agregar Horario" ><i class="fa fa-plus"></i> </button>
							<button id="btnEliminarFila" type="button" class="btn btn-danger btn-icon tooltips" title="Eliminar Horario"><i class="fa fa-close"></i> </button>
						</p>
						<div class="table-responsive">
							<table id="TablaHorario" class="table table-bordered table-primary nomargin">
								<thead>
								<tr>
									<th>#</th>
									<th>Dia</th>
									<th>Horario</th>
								</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
					<!--fin-->
				<hr class="invisible">
				<p class="text-right">
					<button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
					&nbsp;
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
				</p>
			</form>
		</div>
	</div>
</div>
{{Scripts|raw}}

<script>
	$(document).ready(function () {
		$('#btnNuevaFila').click(function () {
			agregarFila();
		});
		$('#btnEliminarFila').click(function () {
			eliminarFila();
		})
	});

	var cont=0;

	function agregarFila() {
		cont++;
		var fila = '<tr class="selected" id="fila'+cont+'"><td>' + cont + '</td>' +
				'<td><select id="IdDias'+cont+'" name="IdDias[]" class="form-control" style="width: 100%">' +
				'<option value="">&nbsp;</option> {% for Dato in Dias %}<option value="{{Dato.IdDia|Cifrado}}">{{Dato.NombreDia}}</option>' +
				'{% endfor %}</select></td>' +
				'<td><select id="IdHorarios'+cont+'" name="IdHorarios[]" class="form-control" style="width: 100%">' +
				'<option value="">&nbsp;</option> {% for Dato in Horarios %}<option value="{{Dato.IdHorario|Cifrado}}">{{Dato.HoraInicio}} a {{Dato.HoraFin}}</option>' +
				'{% endfor %}</select></td>'
				+'</tr>';
		$('#TablaHorario').append(fila);
		$("#IdDias"+cont+"").select2({
			placeholder: "Seleccione un Dia"
		});
		$("#IdHorarios"+cont+"").select2({
			placeholder: "Seleccione un Horario"
		});
	}

	function eliminarFila() {
		if(cont>0) {
			document.getElementById("TablaHorario").deleteRow((cont));
			cont--;
		}
	}
	jQuery(document).ready(function (){
			$('#IdPeriodo').select2({ minimumResultsForSearch: Infinity });
			$('#IdInstructor').select2({ minimumResultsForSearch: Infinity });
			$('#IdAuxiliares').select2({ minimumResultsForSearch: Infinity });
			autosize($('#Descripcion'));

		$('#IdInstructor').on("change", function(e) {
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Administrador/Taller/ObtenerAuxiliares',
				dataType: 'html',
				type: 'post',
				data: {IdInstructor: $(this).val()},
				beforeSend: function () {
					jQuery("#SelectAuxiliares").html('<div class="spinner-xs"></div>');
				},
				success: function (data) {
					jQuery("#SelectAuxiliares").html(data);
					$('#IdAuxiliares').select2({ minimumResultsForSearch: Infinity });
				}
			});
		});
	});

	jQuery('#frmAgregarTaller').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarTaller').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Taller/Agregar',
			data: jQuery('#frmAgregarTaller').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
		if(jQuery("#IdPeriodo").val() == '' || jQuery("#IdPeriodo").val() == null ){
			error = false;
		}
		if(jQuery("#Nombre").val() == ''){
			error = false;
		}
		if(jQuery("#NombreIcono").val() == ''){
			error = false;
		}
		if(jQuery("#Descripcion").val() == ''){
			error = false;
		}
		if(jQuery("#Lugar").val() == ''){
			error = false;
		}
		if(jQuery("#IdInstructor").val() == '' || jQuery("#IdInstructor").val() == null){
			error = false;
		}
		if(cont>0){
			for (var i=0;i<cont;i++){
				indice = document.getElementById("IdDias"+(i+1)+"").selectedIndex;
				if( indice == null || indice == 0 ) {
					return false;
				}
				indiceD = document.getElementById("IdHorarios"+(i+1)+"").selectedIndex;
				if( indiceD == null || indiceD == 0 ) {
					return false;
				}

			}
		}
		return error;
	}

</script>