<small>Auxiliares</small>
<select id="IdAuxiliares" name="IdAuxiliares[]" class="form-control" style="width: 100%" data-placeholder="Seleccione Auxiliares del instructor" multiple>
    <option value="">&nbsp;</option>
    {% for Dato in Instructores %}
    <option value="{{Dato.IdInformacion|Cifrado}}">{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
    {% endfor %}
</select>