<div id="main" class="animated fadeIn">

	<section id="content_wrapper">

		<div id="canvas-wrapper">
			<canvas id="demo-canvas"></canvas>
		</div>


		<section id="content">

			<div class="admin-form theme-info mw700" style="margin-top: 3%;" id="register">

				<div class="row table-layout">
					<a href="dashboard.html" title="Return to Dashboard">
						<img src="{{NeuralRutaWebPublico}}/img/LogoAcademiaProgramacion.png" class="center-block img-responsive" style="max-width: 275px;">
					</a>
				</div>

				<div class="panel panel-info mt10 br-n">

					<form method="POST" id="frm_Recuperacion" name="frm_Recuperacion">
						<div class="panel-body p25 bg-light">

							<div class="section row p10 ph15">
								<h3>Error de Acceso a Modulo</h3>
								<p>El usuario con el que intenta acceder a un modulo sin permiso de acceso, su nivel de acceso se encuentra restringido, verifique sus privilegios de su usuario en el sistema.</p>
								<br><br>
								<h6><span class="label label-info">Información</span> &nbsp; Si presenta algún problema con el el acceso comuníquese con el administrador de la red.</h6>
							</div>

						</div>

						<div class="panel-footer clearfix">

						</div>

					</form>
				</div>

				<div class="login-links">
					<p>Quiere que se redireccione a su nivel de acceso permitido?
						<a href="{{NeuralRutaApp}}/Central" class="active">Ingrese aquí</a>
					</p>
				</div>


			</div>

		</section>
	</section>
</div>