<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Academia de Programación - La Academia del dominio tecnológico </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sitio oficial de la academia de programación en el estado de Guerrero, aquí podrás consultar los talleres que ofertamos cada periodo de manera presencial - !Aprende a programar Ya!" />
	<meta name="keywords" content="Aprende a programar, Programación desde cero, Programación Básica, progrmacion en java, progrmacion en php, programacion en android, talleres de programacion" />
	<meta name="author" content="academiaprogramacion.com.mx" />
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Academia de Programación - La Academia del dominio tecnológico"/>
	<meta property="og:image" content="{{NeuralRutaWebPublico}}/img/LogoAcademia.png"/>
	<meta property="og:url" content="academiaprogramacion.com.mx"/>
	<meta property="og:site_name" content="Academia de Programación"/>

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">

	<script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
	<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{NeuralRutaWebPublico}}/lib/html5shiv/html5shiv.js"></script>
	<script src="{{NeuralRutaWebPublico}}/lib/respond/respond.src.js"></script>
	<![endif]-->
	<style>
		label.error{
			font-size: 11px;
			display: table-caption;
			caption-side:bottom;
		}
	</style>
</head>

<body class="signwrapper">

<div class="sign-overlay"></div>
<div class="signpanel"></div>

<div class="panel signin">
	<div class="panel-heading">
		<h4 class="panel-title">Activación en proceso</h4>
	</div>
	<div class="panel-body text-justify">
		<form id="frm_Login" name="frm_Login" class="form-signin" method="post" action="{{NeuralRutaApp}}/Index/Autenticacion">

			<div class="section row p10 ph15">
				<p>La activación de esta cuenta se encuentra en proceso, verifique su cuenta de correo electrónico.</p>
				<br><br>
				<p><span class="label label-success">Información</span> &nbsp; Si presenta algún problema con el el acceso comuníquese con el administrador.</p>
			</div>
		</form>
		<hr class="invisible">
		<div class="form-group">
			<a href="{{NeuralRutaApp}}/Index/Login" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">Reintentar</a>
		</div>
	</div>
</div><!-- panel -->
</body>
{{Scripts|raw}}
</html>
