<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Unidad al taller de "{{Taller.Nombre}}"</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmAgregarUnidad" name="frmAgregarUnidad">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="PanelInformacion">
                            <p class="text-right">
                                <button id="btnNuevaFila" type="button" class="btn btn-success btn-icon tooltips" title="Agregar Unidad"><i class="fa fa-plus"></i> </button>
                                <button id="btnEliminarFila" type="button" class="btn btn-danger btn-icon tooltips" title="Eliminar Unidad"><i class="fa fa-close"></i> </button>
                            </p>
                            <div class="table-responsive">
                                <table id="TablaUnidades" class="table table-bordered table-primary nomargin">
                                    <thead>
                                    <tr>
                                        <th>Unidad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for Dato in Unidades %}
                                    <tr>
                                        <td>{{Dato.NombreUnidad}} </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" id="Key" name="Key" value="{{Key}}">
                        <input type="hidden" id="IdTaller" name="IdTaller" value="{{Taller.IdTaller|Cifrado}}">
                    </div>
                    <!--   Menu para horario-->
                <!--fin-->
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick='javascript: ListadoManipularContenido("{{Taller.IdTaller|Cifrado}}");'><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}

<script>
    $(document).ready(function () {
        $('#btnNuevaFila').click(function () {
            agregarFila();
        });
        $('#btnEliminarFila').click(function () {
            eliminarFila();
        })
    });
    var cont=0;
    var tamañoinicio=0;

    function agregarFila() {
        cont = document.getElementById("TablaUnidades").rows.length;
        cont++;
        if(tamañoinicio==0){
            tamañoinicio = document.getElementById("TablaUnidades").rows.length;
          }
        var fila = '<tr id="fila">'+
                '<td> <input type="text" id="NombreUnidad'+cont+'" name="NombreUnidad[]" class="form-control" placeholder="Nombre Unidad" autocomplete="off"></td></tr>';
        $('#TablaUnidades').append(fila);
    }

    function eliminarFila() {
        var tamaño = document.getElementById("TablaUnidades").rows.length;

        if(tamañoinicio==0){
            tamañoinicio = document.getElementById("TablaUnidades").rows.length;
        }
        if(tamaño>tamañoinicio) {
            document.getElementById("TablaUnidades").deleteRow((tamaño - 1));
        }
    }

    jQuery('#frmAgregarUnidad').on('submit', function(e){
        var isvalidate = jQuery('#frmAgregarUnidad').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/Agregar',
            data: jQuery('#frmAgregarUnidad').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        var tamaño = document.getElementById("TablaUnidades").rows.length;
        if(tamaño>tamañoinicio){
            for (var i=tamañoinicio;i<tamaño;i++){
                var valor = document.getElementById("NombreUnidad"+(i+1)+"").value;
                if( valor == null || valor.length == 0) {
                    return false;
                }

            }
        }

        return error;
    }

</script>