<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>

<script>
    ActivarLink('MenuLinkTaller');

    /* Listado */
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Taller/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmAgregarTaller() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Taller/frmAgregar',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmEditar(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Taller/frmEditar',
            dataType: 'html',
            type: 'post',
            data: {IdTaller: IdTaller},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    function ConsultaHorario(IdTaller) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Taller/ConsultaDiasHorario',
            dataType: 'html',
            type: 'post',
            data: {IdTaller: IdTaller},
            beforeSend: function () {
                jQuery("#HorarioConsultado").html('<div class="spinner-xs"></div>');
            },
            success: function (data) {
                jQuery("#HorarioConsultado").html(data);
                $('#ModalHorario').modal('show');
            }
        });
    }

    function EliminarRegistro(IdTaller) {
        swal({
            title: "Eliminar Taller.",
            text: "¿Se eliminará definitivamente el Taller!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Administrador/Taller/EliminarRegistro',
                datatype: "html",
                type: "post",
                data: {IdTaller: IdTaller},
                beforeSend: function () {
                   $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    fnListado();
                }
            });
        });
    }

    fnListado();

</script>
