<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-cog"></span> &nbsp; Acciones sobre los registros</h4>
		</div>
		<div class="panel-body">
			<button class="btn btn-primary btn-quirk" onclick="javascript: frmAgregarTaller();"><i class="fa fa-plus"></i> &nbsp; Agregar Taller</button>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de talleres</h4>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="dataTable1" class="table table-bordered table-striped-col">
					<thead>
					<tr>
						<th>#</th>
						<th>Taller</th>
						<th>Intructor</th>
						<th>Periodo</th>
						<th>Lugar</th>
						<th>Acciones</th>
					</tr>
					</thead>

					<tfoot>
					<tr>
						<th>#</th>
						<th>Taller</th>
						<th>Intructor</th>
						<th>Periodo</th>
						<th>Lugar</th>
						<th>Acciones</th>
					</tr>
					</tfoot>
					<tbody>
					{% for Dato in Consulta %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{Dato.Nombre}}</td>
						<td>{{Dato.Instructor}}</td>
						<td>{{Dato.Periodo}}</td>
						<td>{{Dato.Lugar}}</td>
						<td class="text-center">
							<a title="Ver Horarios" class="btn btn-default btn-xs tooltips" href='javascript: ConsultaHorario("{{Dato.IdTaller|Cifrado}}");'><i class="fa fa-calendar"></i></a>
							<a title="Editar Registro" class="btn btn-default btn-xs tooltips" href='javascript: frmEditar("{{Dato.IdTaller|Cifrado}}");'><i class="fa fa-pencil-square-o"></i></a>
							<a title="Eliminar Registro"  class="btn btn-default btn-xs tooltips" href='javascript: EliminarRegistro("{{Dato.IdTaller|Cifrado}}");'><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$('#dataTable1').DataTable({
		"columnDefs": [{
			"orderable": false,
			"targets": '_all'}],
		language: 	{
			"sProcessing":     "Procesando...",
			"sLengthMenu":     "Mostrar _MENU_ registros",
			"sZeroRecords":    "No se encontraron resultados",
			"sEmptyTable":     "Ningún dato disponible en esta tabla",
			"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
			"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
			"sInfoPostFix":    "",
			"sSearch":         "Buscar:",
			"sUrl":            "",
			"sInfoThousands":  ",",
			"sLoadingRecords": "Cargando...",
			"oPaginate": {
				"sFirst":    "Primero",
				"sLast":     "Último",
				"sNext":     "Siguiente",
				"sPrevious": "Anterior"
			},
			"oAria": {
				"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
				"sSortDescending": ": Activar para ordenar la columna de manera descendente"
			}
		},
		"iDisplayLength": 5,
		"aLengthMenu": [
			[5, 10, 25, 50, -1],
			[5, 10, 25, 50, "Todos"]
		]
	});

</script>
<!-- Modal -->
<div class="modal fade" id="ModalHorario" tabindex="-1" role="dialog" aria-labelledby="modalHorario" aria-hidden="true">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" id="HorarioConsultado">
			<div class="modal-header" align="center">
				<h4>Horario</h4>
			</div>
			<div class="modal-body" id="TablaHorario">
			</div>
			<div class="modal-footer">
				<p class="text-center">
					<button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
				</p>
			</div>
		</div>
	</div>
</div>
