<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Instructor</h4>
        </div>
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#home">Usuario</a></li>
            <li><a data-toggle="tab" href="#menu1" >Información</a></li> 
        </ul>
        <div class="panel-body">
            <form id="frmAgregarInstructor" name="frmAgregarInstructor">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active col-md-12 row">
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" autocomplete="off">
                        </div>
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="off">
                        </div>
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" id="RepitePassword" name="RepitePassword" class="form-control" placeholder="Comprobar Password" autocomplete="off">
                        </div>
                    </div>
                    <!--inicia-->
                    <div id="menu1" class="tab-pane fade col-md-12 row" >
                        <div class="form-group">
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" autocomplete="off">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                        <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-link"></i></span>
                                        <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <small>Dirección</small>
                            <textarea rows="2" cols="50" type="text" id="Direccion" name="Direccion" class="form-control" placeholder="Direccion" autocomplete="off"></textarea><br>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                <input type="text" id="Cargo" name="Cargo" class="form-control" placeholder="Cargo" autocomplete="off">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-phone"></i></span>
                                        <input type="text" id="TelefonoFijo1" name="TelefonoFijo1" class="form-control" placeholder="Telefono Fijo" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-mobile"></i></span>
                                        <input type="text" id="TelefonoMovil1" name="TelefonoMovil1" class="form-control" placeholder="Telefono Movil" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa  fa-envelope-o"></i></span>
                                <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail" autocomplete="off">
                            </div>
                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa  fa-facebook"></i></span>
                                <input type="text" id="UrlFacebook" name="UrlFacebook" class="form-control" placeholder="UrlFacebook" autocomplete="off">
                            </div>
                            <small>Descripción</small>
                            <textarea rows="2" cols="50" type="text" id="Descripcion" name="Descripcion" class="form-control" placeholder="Descripción" autocomplete="off"></textarea><br>

                        </div>
                        <!--fin-->
                    </div>
                    <input type="hidden" id="Keys" name="Key" value="{{Key}}">
                    <hr class="short alt" />
                    <div class="section row col-md-12">
                        <div class="col-md-6">
                            <label class="ckbox ckbox-info">
                                <input type="checkbox" id="Status" name="Status" checked value="ACTIVO"><span>USUARIO ACTIVO</span>
                            </label>
                        </div>
                    </div>
                    <div>
                    <p class="text-right">
                        <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                        &nbsp;
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                    </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>
    jQuery(function($){
        $("#TelefonoFijo1").mask("(999)9-99-99-99");
    });
    jQuery(function($){
        $("#TelefonoMovil1").mask("(999)9-99-99-99");
    });
</script>
<script>
	jQuery('#frmAgregarInstructor').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarInstructor').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos de usuario e información.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Instructor/Agregar',
			data: jQuery('#frmAgregarInstructor').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
		if(jQuery("#Usuario").val() == '' || jQuery("#Usuario").val() == null ){
			error = false;
		}
		if(jQuery("#Password").val() == '' || jQuery("#Password").val() ==null){
			error = false;
		}
		if(jQuery("#RepitePassword").val() == '' || jQuery("#RepitePassword").val() ==null){
			error = false;
		}        
        if(jQuery("#Nombres").val() == '' || jQuery("#Nombres").val() ==null){
			error = false;
		}
        if(jQuery("#ApellidoPaterno").val() == '' || jQuery("#ApellidoPaterno").val() ==null){
			error = false;
		}
        if(jQuery("#ApellidoMaterno").val() == '' || jQuery("#ApellidoMaterno").val() ==null){
			error = false;
		}
        if(jQuery("#Correo").val() == '' || jQuery("#Correo").val() ==null){
			error = false;
		}
		return error;
	}

</script>