<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title">Favorites</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Administrador"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkInstructor"><a href="{{NeuralRutaApp}}/Administrador/Instructor"><i class="fa fa-users"></i> <span>Instructor</span></a></li>
        <li id="MenuLinkTaller"><a href="{{NeuralRutaApp}}/Administrador/Taller"><i class="fa fa-folder-open"></i><span>Taller</span></a></li>
		<li id="MenuLinkHorario"><a href="{{NeuralRutaApp}}/Administrador/Horario"><i class="fa fa-clock-o"></i><span>Horario</span></a></li>
		<li id="MenuLinkPeriodo"><a href="{{NeuralRutaApp}}/Administrador/Periodo"><i class="fa fa-calendar"></i><span>Periodo</span></a></li>
		<li id="MenuLinkWidget"><a href="#"><span class="badge pull-right">10+</span><i class="fa fa-cube"></i><span>Widgets</span></a></li>
	</ul>

	<h5 class="sidebar-title">Main Menu</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li class="nav-parent" id="MenuLinkAsistente">
			<a href="#"><i class="fa fa-user"></i> <span>Asistente</span></a>
			<ul class="children">
                <li id="MenuLinkAListado"><a href="{{NeuralRutaApp}}/Administrador/Asistente">Listado</a></li>
				<li id="MenuLinkAactivacion"><a href="{{NeuralRutaApp}}/Administrador/ActivacionCuentas">Activación de Cuentas</a></li>
				<li><a href="#">Link2</a></li>
				<li><a href="#">Link3</a></li>
				<li><a href="#">Link4</a></li>
				<li><a href="#">Link5</a></li>
			</ul>
		</li>
	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>