<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-cog"></span> &nbsp; Acciones sobre los registros</h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary btn-quirk" onclick='javascript: frmAgregarUnidad("{{Taller.IdTaller|Cifrado}}");' ><i class="fa fa-plus"></i> &nbsp; Agregar Unidades</button>
           <button class="btn btn-primary btn-quirk" onclick='javascript: frmEditarUnidad("{{Taller.IdTaller|Cifrado}}");' ><i class="fa fa-edit"></i> &nbsp; Editar Unidades</button>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Unidades de {{Taller.Nombre}}</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable1" class="table table-bordered table-striped-col">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Unidad</th>
                        <th>Status</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Unidad</th>
                        <th>Status</th>
                        <th>Accion</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for Dato in Unidades %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{Dato.NombreUnidad}}</td>
                        <td>{{Dato.Status}}</td>
                        <td class="text-center">
                        <a title="Editar Temas" class="btn btn-default btn-xs tooltips" href='javascript: frmEditarTema("{{Taller.IdTaller|Cifrado}}", "{{Dato.IdUnidad|Cifrado}}");'><i class="fa fa-edit"></i></a>
                            <a title="Eliminar Registro" class="btn btn-default btn-xs tooltips" href='javascript: Eliminar("{{Dato.IdUnidad|Cifrado}}", "{{Taller.IdTaller|Cifrado}}");'><i class="fa fa-trash"></i></a>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right">
            <button class="btn btn-primary btn-quirk" onclick='javascript: ListadoUnidades("{{Taller.IdTaller|Cifrado}}");' ><i class="fa fa-reply"></i> &nbsp; Regresar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <br>
    </div>
</div>
<script>
    $('#dataTable1').DataTable({
        "columnDefs": [{
            "orderable": false,
            "targets": '_all'}],
        language: 	{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 5,
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "Todos"]
        ]
    });

</script>
<!-- Modal -->
<div class="modal fade" id="ModalTema" tabindex="-1" role="dialog" aria-labelledby="modalTema" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="TemaConsultado">
            <div class="modal-header text-center">
                <h4>Horario</h4>
            </div>
            <div class="modal-body" id="TablaHorario">
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
                </p>
            </div>
        </div>
    </div>
</div>
