<style>
    #fh5co-services{
        padding: 0 0;
    }
    .panel-group .panel-info > .panel-heading .panel-title > a.collapsed {
        background-color: #01adb5 !important;
    }
    label.error {
        font-size: 11px;
        display: table-caption !important;
        caption-side:bottom;
    }
</style>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">
<section id="fh5co-services" data-section="perfil">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 to-animate">
                <div class="panel panel-success">
                    <!--<div class="panel-heading">-->
                        <!--<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Mi Perfil</h4>-->
                    <!--</div>-->
                    <div class="panel-body">
                        <div class="col-md-12 section-heading text-center">
                            <br>
                            <h2 class="to-animate"><span>Editar Mi Perfil</span></h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="profile-left mb20">
                                    {% for Valor in Consulta %}
                                    <div class="profile-left-heading">
                                        <a class="profile-photo" href="#"><img alt="" src="{{NeuralRutaWebPublico}}/images/photos/{{Valor.NombreImagen}}" class="img-circle img-responsive"></a>
                                        <h2 class="profile-name">{{Valor.Nombres}}</h2>
                                        <h4 class="profile-designation">{{Valor.Cargo}}</h4>
                                        <ul class="list-group">
                                            <li class="list-group-item">Cursos Activos<a href="timeline.html">{{ CantidadInscritos ? CantidadInscritos: '0' }}</a></li>
                                            <li class="list-group-item">Cursos Terminados<a href="people-directory.html">{{ CantidadTerminado ? CantidadTerminado: '0' }}</a></li>
                                            <li class="list-group-item">Créditos<a href="people-directory-grid.html">{{ CantidadCreditos ? CantidadCreditos: '0' }}</a></li>
                                        </ul>
                                        <a class="btn btn-primary btn-quirk btn-block profile-btn-follow" href="{{NeuralRutaApp}}/Asistente/Talleres/MisTalleres">Mis Talleres</a>
                                    </div>
                                    {% endfor %}
                                </div><!-- profile-left -->
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 to-animate">
                                <form id="frmEditarPerfil" name="frmEditarPerfil">
                                    <ul class="nav nav-tabs nav-line">
                                        <li class="active"><a data-toggle="tab" href="#menu1" >Información</a></li>
                                        <li ><a data-toggle="tab" href="#menu2" >Acceso Al Sistema</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="menu1" class="tab-pane in active fade col-md-12 row" >
                                            {% for Valor in Consulta %}
                                            <div class="form-group mb10">
                                                <small>Nombre(s) Del Asistente</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" value="{{Valor.Nombres}}" required autofocus autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group mb10">
                                                <small>Apellido Paterno</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="form-control" placeholder="ApellidoPaterno" value="{{Valor.ApellidoPaterno}}" autofocus autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group mb10">
                                                <small>Apellido Materno</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="form-control" placeholder="ApellidoMaterno" value="{{Valor.ApellidoMaterno}}" autofocus autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group mb10">
                                                <small>Correo</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail" value="{{Valor.Correo}}" required autofocus autocomplete="off">
                                                </div>
                                            </div>
                                            <hr class="short alt" />
                                        </div>
                                        <div id="menu2" class="tab-pane fade col-md-12 row">
                                            <small>Nombre De Usuario</small>
                                            <div class="form-group mb10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" value="{{Valor.Usuario}}" required autofocus autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group mb10">
                                                <small>Inserte Nueva Contraseña</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group mb10">
                                                <small>Repite la nueva contraseña</small>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input type="password" id="RepitePassword" name="RepitePassword" class="form-control" placeholder="Repite Password" autocomplete="off">
                                                </div>
                                            </div>
                                            <hr class="short alt"/>
                                        </div>
                                        <input type="hidden" value="{{Key}}" name="Key" id="Key">
                                        {% endfor %}
                                    </div>

                                    <div class="row" style="margin: 10px;">
                                        <div class="form-group mb10">
                                            <p class="text-right">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar Cambios</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main JS (Do not remove) -->
<script src="{{NeuralRutaWebPublico}}/js/main.js"></script>
{{Scripts|raw}}
<script>
    jQuery(document).ready(function() {
        jQuery("Form").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });


    jQuery('#frmEditarPerfil').on('submit', function(e){
        var isvalidate = jQuery('#frmEditarPerfil').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Asistente/Perfil/Actualizar',
            data: jQuery('#frmEditarPerfil').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Nombres").val() == '' || jQuery("#Nombres").val() ==null){
            error = false;
        }
        if(jQuery("#Usuario").val() == '' || jQuery("#Usuario").val() ==null){
            error = false;
        }
        if(jQuery("#Correo").val() == '' || jQuery("#Correo").val() ==null){
            error = false;
        }
        return error;
    }
</script>
