<div class="col-md-9">
    <div class="col-md-12 section-heading">
        <br>
        <h2 class="to-animate"><span>{{Taller.Nombre}}</span></h2>
    </div>
    <div class="box-services">
        <div class="fh5co-post to-animate">
            <p align="justify">{{Taller.Descripcion}}</p>
        </div>

    </div>

</div>
<div class="fh5co-post to-animate text-right">
    {% if Taller.InstructorPrincipal == 'ACTIVO' %}
    <p>
        <a class="btn btn-info" type="button" onclick="javascript: ListadoManipularContenido('{{Taller.IdTaller|Cifrado}}');" ><i class="fa fa-check-square-o"></i> &nbsp;Edición de Temario</a>
    </p>
    {% else %}
    <p>
        <a class="btn btn-info" type="button" disabled="false"><i class="fa fa-check-square-o"></i> &nbsp; Edición de Temario</a>
    </p>
    {% endif %}
</div>
