<style>
    .ContenedorCurso{
        /*position: relative;*/
        /*min-height: 150px;*/
        cursor: pointer;
    }
    /*.ContenedorBoton {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*!*left: 0;*!*/
    /*}*/

    /* Grow */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.05);
    }

    /* Fade */
    .hvr-fade {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
    }
    .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
        /*background-color: #f8f7f3;*/
        /*background-color: #ecf8eb;*/
        background-color: #edf8ef;
        color: #868686;
    }

    .hvr-fade{
        border: 2px;
        padding: 5px 10px;
        /*background: #dddddd;*/
        /*width: 300px;*/
        border-radius: 25px;
        overflow: hidden;
    }

    .section-heading {
        float: left;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .fh5co-services .box-services {
        position: relative;
        margin-bottom: 0px;
    }

    .panel-group .panel-info > .panel-heading .panel-title > a.collapsed {
        background-color: #01adb5 !important;
    }
</style>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/Hover/hover.css">
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles-full.css">
<!--select2 CSS-->
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/select2/select2.css">
<!--jquery.gritter CSS-->
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.css">
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">

<section id="fh5co-services" data-section="cursos">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 to-animate">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <br>
                                <div class="box-services">
                                    <div class="icon to-animate">
                                        <span><i class="{{Taller.NombreIcono}}"></i></span>
                                    </div>
                                </div>
                            </div>
                            {% include 'MisTalleres/ListadoContenido/BotonCurso.html' %}
                            <hr>
                        </div>

                        {% if Unidades > 0 %}
                        <div class="col-md-12 text-center">
                            <h3 class="to-animate"><span>Contenido Del Taller</span></h3>
                        </div>
                        {% endif %}
                        <div class="row">
                            {% include 'MisTalleres/ListadoContenido/Unidades.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
