{% if Unidades > 0 %}
{% for Dato in Unidades %}
    <div class="col-md-12 text-left">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}">
                            {{Dato.NombreUnidad}}
                        </a>
                    </h4>
                </div>
                <div id="{{loop.index}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover nomargin">
                                <tbody>
                                {% for DatoTema in Temas %}
                                {% if Dato.IdUnidad == DatoTema.IdUnidad %}
                                <tr>
                                    <td>{{DatoTema.NombreTema}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
<div class="col-md-12" align="center">
    <div role="alert" style="" class="gritter-item-wrapper with-icon exclamation-circle send-o warning mb10">
        <div class="gritter-item">
            <div class="gritter-without-image">
                <span class="gritter-title"> Contenido por definir!</span>
                <p>El contenido aparecerá una vez que se halla definido el temario del taller en Edición de Temario.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
