<style>
    #fh5co-services{
        padding: 0 0;
    }
</style>
<section id="fh5co-services" data-section="perfil">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 to-animate">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="tray tray-center">
                            <div class="col-md-12">
                                <div class="bs-component">
                                    <div class="alert alert-success fade in nomargin">
                                        <h4>!Exito!</h4>
                                        <p>Los datos del usuario fueron actualizados corectamente.</p>
                                        <br>
                                        <p>
                                            <a class="btn btn-primary btn-quirk profile-btn-follow" href="{{NeuralRutaApp}}/Asistente/Perfil"><i class="fa fa-user"></i> &nbsp; Ver Mi Perfil</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main JS (Do not remove) -->
<script src="{{NeuralRutaWebPublico}}/js/main.js"></script>