<nav class="navbar navbar-default">
	<div class="navbar-header">
		<!-- Mobile Toggle Menu Button -->
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<a class="navbar-brand" href="{{NeuralRutaApp}}/Asistente/Talleres">Otros talleres</a><br>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{NeuralRutaApp}}/Asistente/Talleres/MisTalleres" data-nav-section="cursos"><span>Mis Talleres</span></a></li>
			<li class="dropdown" data-nav-section="perfil">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
				<ul class="dropdown-menu" data-nav-section="perfil">
					<li><a href="{{NeuralRutaApp}}/Asistente/Perfil">Editar Perfil</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="{{NeuralRutaApp}}/LogOut"><span>Cerrar Sesión</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>