<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Temas del taller de {{Taller.Nombre}}</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a href="#PanelHorario" data-toggle="tab"><i class="fa fa-pencil"></i> &nbsp; Temas de Unidad "{{Unidad.NombreUnidad}}"</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmEditarTema" name="frmEditarTema">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="PanelHorario" class="tab-pane active" >
                        <p class="text-right">
                            <button id="btnNuevaFila" type="button" class="btn btn-success btn-icon tooltips" title="Agregar Tema"><i class="fa fa-plus"></i> </button>
                            <button id="btnEliminarFila" type="button" class="btn btn-danger btn-icon tooltips" title="Eliminar Tema"><i class="fa fa-close"></i> </button>
                        </p>
                        <div class="table-responsive">
                            <table id="TablaTema" class="table table-bordered table-primary nomargin">
                                <thead>
                                <tr>
                                    <th>Nombre del Tema</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Dato in Consulta %}
                                <tr>
                                    <td>
                                        <input type="text" id="NombreTema" name="NombreTema[]" class="form-control" placeholder="NombreTema" autocomplete="off" value="{{Dato.NombreTema}}" required>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="Key" name="Key" value="{{Key}}">
                <input type="hidden" id="IdTaller" name="IdTaller" value="{{Taller.IdTaller|Cifrado}}">
                <input type="hidden" id="IdUnidad" name="IdUnidad" value="{{Unidad.IdUnidad|Cifrado}}">
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick='javascript: ListadoManipularContenido("{{Taller.IdTaller|Cifrado}}");'><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>
    $(document).ready(function () {
        $('#btnNuevaFila').click(function () {
            agregarFila();
        });
        $('#btnEliminarFila').click(function () {
            eliminarFila();
        })
    });
    var cont2=0;
    function agregarFila() {
        var cont=document.getElementById("TablaTema").rows.length;
        cont++;
        cont2++;
        var fila = '<tr>'+
                '<td><input type="text" id="NombreTema'+cont+'" name="NombreTema[]" class="form-control" placeholder="NombreTema" autocomplete="off"></td>'+'</tr>';
        $('#TablaTema').append(fila);
    }

    function eliminarFila() {
        var tamaño = document.getElementById("TablaTema").rows.length;
        if(tamaño>1) {
            document.getElementById("TablaTema").deleteRow((tamaño - 1));
            cont2--;
        }
    }
    jQuery('#frmEditarTema').on('submit', function(e){
        var isvalidate = jQuery('#frmEditarTema').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
            fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Instructor/MisTalleres/EditarTema',
            data: jQuery('#frmEditarTema').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#NombreTema").val() == ''){
            error = false;
        }
        var tamaño = document.getElementById("TablaTema").rows.length;
        var rest = tamaño-cont2;
        if(tamaño>0){
            for (var i=rest;i<tamaño;i++){
                var valor = document.getElementById("NombreTema"+(i+1)+"").value;
                if( valor == null || valor.length == 0) {
                    return false;
                }

            }
        }
        return error;
    }

</script>