<section id="fh5co-services" data-section="cursos">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 to-animate">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="tray tray-center">
                            <div class="col-md-12">
                                <div class="bs-component">
                                    <div class="alert alert-danger fade in nomargin">
                                        <h4>!Error!</h4>
                                        <p>No se pudo obtener el contenido</p>
                                        <div class="mb15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>