<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Taller</h4>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-line">
			<li class="active"><a href="#PanelInformacion" data-toggle="tab"><i class="fa fa-pencil"></i> &nbsp; Información</a></li>
			<li><a data-toggle="tab" href="#PanelHorario">Horario de Taller</a></li>
		</ul>
		<div class="panel-body">
			<form id="frmEditarTaller" name="frmEditarTaller">
				{% for Valor in Consulta %}
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="PanelInformacion">
						<div class="form-group">
							<small>Periodo</small>
							<select id="IdPeriodo" name="IdPeriodo" class="form-control" style="width: 100%" data-placeholder="Seleccione Un Periodo">
								{% for  Dato in Periodos %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdPeriodo|Cifrado}}" selected>{{Dato.Nombre}}</option>
								{% else %}
								<option value="{{Dato.IdPeriodo|Cifrado}}">{{Dato.Nombre}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>

						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-code"></i></span>
							<input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre" autocomplete="off" value="{{Valor.Nombre}}">
						</div>

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
							<input type="text" id="NombreIcono" name="NombreIcono" class="form-control" placeholder="icon-nombre" autocomplete="off" value="{{Valor.NombreIcono}}">
						</div>
						<p class="text-right">
							<a href="https://icomoon.io/#preview-free" target="_blank">Da clic aqui para buscar Iconos</a>
						</p>

						<div class="form-group">
							<small>Descripcion</small>
							<textarea id="Descripcion" name="Descripcion" class="form-control" rows="3" placeholder="Descripción">{{Valor.Descripcion}}</textarea>
						</div>

						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-compass"></i></span>
							<input type="text" id="Lugar" name="Lugar" class="form-control" placeholder="Lugar" autocomplete="off" value="{{Valor.Lugar}}">
						</div>

						<div class="form-group">
							<small>Instructor</small>
							<select id="IdInstructor" name="IdInstructor" class="form-control" style="width: 100%" data-placeholder="Seleccione Un Instructor">
								{% for Dato in Instructores %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdInformacion|Cifrado}}" selected>{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% else %}
								<option value="{{Dato.IdInformacion|Cifrado}}">{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>

						<div class="form-group" id="SelectAuxiliares">
							<small>Auxiliares</small>
							<select id="IdAuxiliares" name="IdAuxiliares[]" class="form-control" style="width: 100%" data-placeholder="Seleccione Auxiliares del instructor" multiple>
								{% for Dato in Auxiliares %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdInformacion|Cifrado}}" selected>{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% else %}
								<option value="{{Dato.IdInformacion|Cifrado}}">{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>

						<input type="hidden" id="IdTaller" name="IdTaller" value="{{Valor.IdTaller|Cifrado}}">
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
					</div>
					<div id="PanelHorario" class="tab-pane fade col-md-12 row ">
						<p class="text-right">
							<button id="btnNuevaFila" type="button" class="btn btn-success btn-icon tooltips" title="Agregar Horario"><i class="fa fa-plus"></i> </button>
							<button id="btnEliminarFila" type="button" class="btn btn-danger btn-icon tooltips" title="Eliminar Horario"><i class="fa fa-close"></i> </button>
						</p>
						<div class="table-responsive">
							<table id="TablaHorario" class="table table-bordered table-primary nomargin">
								<thead>
								<tr>
									<th>Dia</th>
									<th>Horario</th>
								</tr>
								</thead>
								<tbody>
								{% for Dato in HorarioTaller %}
								<tr>
									<td><select id="IdDias" name="IdDias[]" class="form-control" style="width: 100%">
										{% for Dia in Dias %}
										{% if Dato.NombreDia == Dia.NombreDia %}
										<option value="{{Dia.IdDia|Cifrado}}" selected>{{Dia.NombreDia}}</option>
										{% else %}
										<option value="{{Dia.IdDia|Cifrado}}">{{Dia.NombreDia}}</option>
										{% endif %}
										{% endfor %}
									</select></td>
									<td><select id="IdHorarios" name="IdHorario[]" class="form-control" style="width: 100%">
										{% for Horario in Horarios %}
										{% if Dato.HoraInicio == Horario.HoraInicio and Dato.HoraHoraFin == Horario.HoraHoraFin %}
										<option value="{{Horario.IdHorario|Cifrado}}" selected>{{Horario.HoraInicio}} a {{Horario.HoraFin}}
										</option>
										{% else %}
										<option value="{{Horario.IdHorario|Cifrado}}">{{Horario.HoraInicio}} a {{Horario.HoraFin}}
										</option>
										{% endif %}
										{% endfor %}
									</select></td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<hr class="invisible">
				<p class="text-right">
					<button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
					&nbsp;
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
				</p>
				{% endfor %}
			</form>
		</div>
	</div>
</div>
{{Scripts|raw}}
<script>
	$(document).ready(function () {
		$('#btnNuevaFila').click(function () {
			agregarFila();
		});
		$('#btnEliminarFila').click(function () {
			eliminarFila();
		})
	});
	var cont2=0;
	function agregarFila() {
		var cont=document.getElementById("TablaHorario").rows.length;
		cont++;
		cont2++;
		var fila = '<tr class="selected" id="fila">'+
				'<td><select id="IdDias'+cont+'" name="IdDias[]" class="form-control" style="width: 100%">' +
				'<option value="">&nbsp;</option> {% for Dato in Dias %}<option value="{{Dato.IdDia|Cifrado}}">{{Dato.NombreDia}}</option>' +
				'{% endfor %} </select></td>' +
				'<td><select id="IdHorarios'+cont+'" name="IdHorario[]" class="form-control" style="width: 100%">' +
				'<option value="">&nbsp;</option> {% for Dato in Horarios %}<option value="{{Dato.IdHorario|Cifrado}}">{{Dato.HoraInicio}} a {{Dato.HoraFin}}</option>' +
				'{% endfor %}</select></td>'+'</tr>';
		$('#TablaHorario').append(fila);
		$("#IdDias"+cont+"").select2({
			placeholder: "Seleccione un Dia"
		});
		$("#IdHorarios"+cont+"").select2({
			placeholder: "Seleccione un Horario"
		});
	}

	$("#IdDias").select2({
		placeholder: "Seleccione un Dia"
	});
	$("#IdHorarios").select2({
		placeholder: "Seleccione un Horario"
	});

	function eliminarFila() {
		var tamaño = document.getElementById("TablaHorario").rows.length;
		if(tamaño>1) {
			document.getElementById("TablaHorario").deleteRow((tamaño - 1));
			cont2--;
		}
	}
	jQuery(document).ready(function (){
		$('#IdPeriodo').select2({ minimumResultsForSearch: Infinity });
		$('#IdInstructor').select2({ minimumResultsForSearch: Infinity });
		$('#IdAuxiliares').select2({ minimumResultsForSearch: Infinity });
		autosize($('#Descripcion'));

		$('#IdInstructor').on("change", function(e) {
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Administrador/Taller/ObtenerAuxiliares',
				dataType: 'html',
				type: 'post',
				data: {IdInstructor: $(this).val()},
				beforeSend: function () {
					jQuery("#SelectAuxiliares").html('<div class="spinner-xs"></div>');
				},
				success: function (data) {
					jQuery("#SelectAuxiliares").html(data);
					$('#IdAuxiliares').select2({ minimumResultsForSearch: Infinity });
				}
			});
		});
	});

	jQuery('#frmEditarTaller').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarTaller').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Taller/Editar',
			data: jQuery('#frmEditarTaller').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
		if(jQuery("#IdPeriodo").val() == '' || jQuery("#IdPeriodo").val() == null ){
			error = false;
		}
		if(jQuery("#Nombre").val() == ''){
			error = false;
		}
		if(jQuery("#NombreIcono").val() == ''){
			error = false;
		}
		if(jQuery("#Descripcion").val() == ''){
			error = false;
		}
		if(jQuery("#Lugar").val() == ''){
			error = false;
		}
		if(jQuery("#IdInstructor").val() == '' || jQuery("#IdInstructor").val() == null){
			error = false;
		}
		var tamaño = document.getElementById("TablaHorario").rows.length;
		var rest = tamaño-cont2;
		if(tamaño>0){
			for (var i=rest;i<tamaño;i++){
				indice = document.getElementById("IdDias"+(i+1)+"").selectedIndex;
				if( indice == null || indice == 0 ) {
					return false;
				}
				indiceD = document.getElementById("IdHorarios"+(i+1)+"").selectedIndex;
				if( indiceD == null || indiceD == 0 ) {
					return false;
				}

			}
		}
		return error;
	}

</script>