<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Periodo</h4>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-line">
			<li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
		</ul>
		<div class="panel-body">
			<form id="frmAgregarPeriodo" name="frmAgregarPeriodo">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="PanelInformacion">

						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-edit"></i></span>
							<input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre" onkeyup="javascript:this.value=this.value.toUpperCase();">
						</div>
 						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" id="FechaInicio" name="FechaInicio" class="form-control" placeholder="Año/Mes/Dia">
						</div>
						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" id="FechaFin" name="FechaFin" class="form-control" placeholder="Año/Mes/Dia">
						</div>
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
					</div>
				</div>
					<!--fin-->
				<hr class="invisible">
				<p class="text-right">
					<button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
					&nbsp;
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
				</p>
			</form>
		</div>
	</div>
</div>
{{Scripts|raw}}

<script>
	$('#FechaInicio').datepicker({dateFormat: 'yy/mm/dd'});
	$('#FechaFin').datepicker({dateFormat: 'yy/mm/dd'});

	jQuery('#frmAgregarPeriodo').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarPeriodo').valid();
		if (isvalidate){
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Periodo/Agregar',
			data: jQuery('#frmAgregarPeriodo').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
		if(jQuery("#Nombre").val() == ''){
			error = false;
		}
		if(jQuery("#FechaInicio").val() == ''){
			error = false;
		}
		if(jQuery("#FechaFin").val() == ''){
			error = false;
		}
		return error;
	}

	jQuery.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	jQuery.datepicker.setDefaults($.datepicker.regional['es']);

</script>