<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Talleres</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable2" class="table table-bordered table-striped-col">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Taller</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Taller</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for Dato in Consulta %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{Dato.Nombre}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <button class="btn btn-primary btn-quirk" onclick="javascript: fnListado();">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Regresar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>