<script>

    function fnEditarPerfil() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Asistente/Perfil/frmEditar',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    fnEditarPerfil();

</script>