<section id="fh5co-services" data-section="cursos">
	<div class="fh5co-services">
		<div class="container ContenedorPrincipal">
			<div class="panel panel-success">
				<div class="panel-body">
					<div class="col-md-12 section-heading text-center">
						<br>
						<h2 class="to-animate"><span>Mis Talleres</span></h2>
					</div>
					{% if Talleres|length > 0 %}
					{% for Row in Talleres|batch(4) %}
					{% for Taller in Row %}
					<div class="col-md-3 text-center hvr-fade">
						<div class="box-services ContenedorTaller" onclick="javascript: fnContinuarTaller('{{Taller.IdTaller|Cifrado|Ascii_Hex}}');">
							<div class="icon to-animate">
								<span><i class="{{Taller.NombreIcono}}"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<a type="button" class="btn btn-primary btn-xs btn-block">&nbsp;<li class="glyphicon glyphicon-ok"></li>&nbsp;</a>
								<h3>{{Taller.Nombre}}</h3>
								{% if Taller.Descripcion|length > 150 %}
								<p class="text-justify">{{Taller.Descripcion|slice(0, 150)}}...</p>
								{% else %}
								<p class="text-justify">{{Taller.Descripcion}}</p>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
					{% endfor %}
					{% else %}
					<div class="alert alert-info fade in nomargin">
						<button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
						<h4>¡Vaya!</h4>
						<p>Aun no te haz inscrito a ningún taller.</p>
						<p>Date una vuelta a los talleres disponibles, en el siguiente botón.</p>
						<br>
						<h5>
							<a class="btn btn-info btn-responsive" href="{{NeuralRutaApp}}/Asistente/Talleres"><i class="fa fa-check-square-o"></i>&nbsp;Talleres Disponibles</a>
						</h5>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function fnContinuarTaller(IdTaller){
		var url = "{{NeuralRutaApp}}/Asistente/Talleres/VerTaller/"+IdTaller;
		window.location = url;
	}
</script>