<section id="fh5co-services" data-section="cursos">
	<div class="fh5co-services">
		<div class="container ContenedorPrincipal">
			<div class="panel panel-success">
				<div class="panel-body">
					<div class="col-md-12 section-heading text-center">
						<br>
						<h2 class="to-animate"><span>Talleres Disponibles</span></h2>
					</div>
					{% if Talleres|length > 0 %}
					{% for Row in Talleres|batch(4) %}
					<div class="row">
						{% for Taller in Row %}
						<div class="col-md-3 text-center hvr-fade">
							<div class="box-services ContenedorCurso" onclick="javascript: fnVerDetalleTaller('{{Taller.IdTaller|Cifrado|Ascii_Hex}}');">
								<div class="icon to-animate">
									<span><i class="{{Taller.NombreIcono}}"></i></span>
								</div>
								<div class="fh5co-post to-animate">
									{% if Taller.IdTallerAsistente|length > 0 %}
									<a type="button" class="btn btn-primary btn-xs btn-block">&nbsp;<li class="glyphicon glyphicon-ok"></li>&nbsp;</a>
									{% endif %}
									<h3>{{Taller.Nombre}}</h3>

									{% if Taller.Descripcion|length > 150 %}
									<p class="text-justify">{{Taller.Descripcion|slice(0, 150)}}...</p>
									{% else %}
									<p class="text-justify">{{Taller.Descripcion}}</p>
									{% endif %}

								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
					{% else %}
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="panel">
							<div class="panel-body">
								<div class="alert alert-info fade in nomargin">
									<button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
									<h4>Información</h4>
									<p>No hay talleres disponibles, o ya haz tomado todos los cursos abiertos.</p>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function fnVerDetalleTaller(IdTaller){
		var url = "{{NeuralRutaApp}}/Asistente/Talleres/VerTaller/"+IdTaller;
		window.location = url;
	}
</script>