body {
  background-color: #d8dce3;
}
#fh5co-header .navbar-default {
  background: #d6e9c6;
}

#fh5co-services,
#fh5co-testimony,
#fh5co-explore,
#fh5co-faq,
#fh5co-team,
#fh5co-trusted,
#fh5co-footer,
#fh5co-work,
#fh5co-counters,
#fh5co-pricing,

/*
#fh5co-blog {
  padding: 3em 0px 0px 0px;
@media screen and (max-width: $screen-sm) {
  padding: 2em 0;
}
}
*/

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

.spinner-xs {
  width: 40px;
  height: 40px;
  margin: 25px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.fh5co-services {
  padding-bottom: 1em;
}

hr {
  border-color: #dbdfe6;
  margin: 5px !important;
}

/*Detalle De Taller*/

.ContenedorCurso{
  cursor: pointer;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  /*background-color: #f8f7f3;*/
  /*background-color: #ecf8eb;*/
  background-color: #edf8ef;
  color: #868686;
}

.hvr-fade{
  border: 2px;
  padding: 5px 10px;
  /*background: #dddddd;*/
  /*width: 300px;*/
  border-radius: 25px;
  overflow: hidden;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.fh5co-services .box-services {
  position: relative;
  margin-bottom: 0px;
}

.panel-group .panel-info > .panel-heading .panel-title > a.collapsed {
  background-color: #01adb5 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00ADB5 !important;
}

.icon {
  margin-bottom: 5px;
}