@charset "UTF-8";
#fh5co-services, #fh5co-testimony, #fh5co-explore, #fh5co-faq, #fh5co-team, #fh5co-trusted, #fh5co-footer, #fh5co-work, #fh5co-counters, #fh5co-pricing, #fh5co-blog {
  padding: 3em 0 0 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 10px 10px !important;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ffffff;
}

.panel-body {
  padding: 0px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  background-color: #f0f1f4;
}